// Base definitions and shared definitions


// Color theme css variables

:root {
  // default is dark theme
  --col-bg:                       #181818;
  --col-listitem-less:            #1c1c1c;
  --col-listitem:                 #282828;
  --col-listitem-over:            #323232;
  --col-listitem-selected:        #383838;
  --col-listitem-selected-over:   #424242;
  --col-text-least:               #666666;
  --col-text-less:                #999999;
  --col-text:                     #cccccc;
  --col-accent:                   #ff2200;
  --icon-brightness: 100%;

  &.lightTheme {
    --col-bg:                     #f0f0f0;
    --col-listitem-less:          #e9e9e9;
    --col-listitem:               #dcdcdc;
    --col-listitem-over:          #d0d0d0;
    --col-listitem-selected:      #c0c0c0;
    --col-listitem-selected-over: #b0b0b0;
    --col-text:                   #202020;
    --col-text-less:              #505050;
    --col-text-least:             #808080;
    --col-accent:                 #ff2200;
    --icon-brightness: 0%;
  }
}

// SASS values

$site-min-width:320px;

$mobile-max-width: 480px;
$tablet-max-width: 768px;

$space-unit: 16px;
$space-unit-mobile: 12px;

$font-size-normal: 16px;
$font-size-normal-mobile: 14px;

$font-size-smaller: 14px;
$font-size-smaller-mobile: 12px;
$font-size-smallest: 12px;

$icon-button-side: 36px;

$z-subview-max: 9999;

$app-standard-ease: cubic-bezier(0,.5,.3,1.0);
$app-standard-duration: 400ms;

// values of specific ui elements
$top-bar-height: 52px;
$view-header-height: 52px;
$playbar-height: 100px;


@mixin mobile {
  @media (max-width: $mobile-max-width)  { @content; }
}
@mixin tablet {
  @media (max-width: $tablet-max-width)  { @content; }
}

@mixin userSelect($val) {
  -moz-user-select: $val;
  -webkit-user-select: $val;
  -ms-user-select:$val;
  user-select:$val;
  -o-user-select:$val;
}

@mixin userDrag($val) {
  user-drag: $val;
  -webkit-user-drag: $val;
}

@mixin disabledIconButton {
  pointer-events:none;
  &:before {
    opacity:0.5;
  }
}

// App's standard treatment for an icon graphic
// which is placed in a button of whatever style
@mixin iconBefore {
  content: ' ';
  display: block;
  position: absolute;
  opacity:0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;

  filter:brightness(var(--icon-brightness));
}

// Plain icon to be used in whatever way
.icon {
  display: inline-block;
  width:$icon-button-side;
  height:$icon-button-side;
  position: relative;
  &:before {
    @include iconBefore;
  }
}

// ---

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: $font-size-normal;
	color: var(--col-text);

  // does nothing for chrome, safari
  scrollbar-color: var(--col-text-less) var(--col-listitem-over);

  // Mobile Chrome: Prevent light blue pressed state on tappable things
  -webkit-tap-highlight-color: transparent;

  // Must be overridden explicitly as needed
  @include userSelect(none);
  @include userDrag(none);

  :focus { outline: none; }

  @include mobile {
    font-size:$font-size-normal-mobile;
  }
}

body {
	overflow-x: hidden;
  overflow-y: hidden;
	background-color: var(--col-bg);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li:before {
  content: "\200B";
  position: absolute;
}

// reset input text box
input,
html input[disabled],
input::-moz-focus-inner {
  all: unset;
}
