// Base definitions and shared definitions


// SASS values

$mobile-max-width: 480px;
$tablet-max-width: 768px;

$color-bg: #101010; // 16 0.062
$color-listitem-less: #1c1c1c; // 28 0.11
$color-listitem: #282828; // 40 0.15
$color-listitem-over: #323232; // 50 0.20
$color-listitem-selected: #383838; // 56 0.22
$color-listitem-selected-over: #424242; // 66 0.26

$color-text: #ccc;
$color-text-less: #999;
$color-text-least: #666;

$color-accent: #ff2200;

$color-button-bg: rgba(255,255,255,0.15); // 0x28
$color-button-over: rgba(255,255,255,0.20); // 0x32
$color-button-selected: rgba(255,255,255,0.22); // 0x48

$space-unit: 16px;
$space-unit-mobile: 12px;

$font-size-normal: 16px;
$font-size-normal-mobile: 14px;

$font-size-smaller: 14px;
$font-size-smaller-mobile: 12px;

$icon-button-side: 36px;

$z-subview-max: 9999;

$app-standard-ease: cubic-bezier(0,.5,.3,1.0);
$app-standard-duration: 400ms;

@mixin mobile {
  @media (max-width: $mobile-max-width)  { @content; }
}
@mixin tablet {
  @media (max-width: $tablet-max-width)  { @content; }
}

@mixin userSelect($val) {
  -moz-user-select: $val;
  -webkit-user-select: $val;
  -ms-user-select:$val;
  user-select:$val;
  -o-user-select:$val;
}

@mixin userDrag($val) {
  user-drag: $val;
  -webkit-user-drag: $val;
}

@mixin disabledIconButton {
  pointer-events:none;
  &:before {
    opacity:0.5;
  }
}

// App's standard treatment for an icon graphic
// which is placed in a button of whatever style
@mixin iconBefore {
  content: ' ';
  display: block;
  position: absolute;
  opacity:0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

// Plain icon to be used in whatever way
.icon {
  display: inline-block;
  width:$icon-button-side;
  height:$icon-button-side;
  position: relative;
  &:before {
    @include iconBefore;
  }
}

// ---

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: $font-size-normal;
	color: $color-text;

  // Mobile Chrome: Prevent light blue pressed state on tappable things
  -webkit-tap-highlight-color: transparent;

  // Must be overridden explicitly as needed
  @include userSelect(none);
  @include userDrag(none);

  :focus { outline: 1px dotted $color-text; }

  @include mobile {
    font-size:$font-size-normal-mobile;
  }
}

body {
	min-width: 320px;
  display:flex;
  flex-direction:column;
	overflow-x: hidden;
  overflow-y: hidden;
	background-color: $color-bg;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li:before {
  content: "\200B";
  position: absolute;
}
