// Base definitions and shared definitions


// SASS values

$mobile-max-width: 480px;
$tablet-max-width: 768px;

$color-bg: #101010;

$color-listitem-less: #1c1c1c;
$color-listitem: #282828;
$color-listitem-over: #323232;
$color-listitem-selected: #383838;
$color-listitem-selected-over: #424242;

$color-text: #ccc;
$color-text-less: #999;
$color-text-least: #666;

$color-accent: #ff2200;

$color-button-bg: $color-listitem; //  rgba(255,255,255,0.16); // 0x28 divided by 256
$color-button-over: $color-listitem-over; // rgba(255,255,255,0.22); // 0x38 divided by 256
$color-button-selected: $color-listitem-selected; // rgba(255,255,255,0.28); // 0x48 divided by 256

$space-unit: 16px;
$space-unit-mobile: 12px;

$font-size-normal: 16px;
$font-size-normal-mobile: 14px;

$font-size-smaller: 14px;
$font-size-smaller-mobile: 12px;

$icon-button-side: 36px;

$z-subview-max: 9999;

@mixin mobile {
  @media (max-width: $mobile-max-width)  { @content; }
}
@mixin tablet {
  @media (max-width: $tablet-max-width)  { @content; }
}

@mixin userSelect($val) {
  -moz-user-select: $val;
  -webkit-user-select: $val;
  -ms-user-select:$val;
  user-select:$val;
  -o-user-select:$val;
}

@mixin userDrag($val) {
  user-drag: $val;
  -webkit-user-drag: $val;
}

@mixin disabledIconButton {
  pointer-events:none;
  &:before {
    opacity:0.5;
  }
}

// ---

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-family: 'Noto Sans TC', sans-serif;
	font-size: $font-size-normal;
	color: $color-text;

  // Mobile Chrome: Prevent light blue pressed state on tappable things
  -webkit-tap-highlight-color: transparent;

  // Must be overridden explicitly as needed
  @include userSelect(none);
  @include userDrag(none);

  :focus { outline: 1px dotted $color-text; }

  @include mobile {
    font-size:$font-size-normal-mobile;
  }
}

body {
	min-width: 320px;
  display:flex;
  flex-direction:column;
	overflow-x: hidden;
  overflow-y: hidden;
	background-color: $color-bg;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
li:before {
  content: "\200B";
  position: absolute;
}

