// Base button definitions


// Standard icon button
// Uses pseudo element for image so image opacity can be controlled independently
.iconButton {
  display: inline-block;
  width: $icon-button-side;
  height: $icon-button-side;
  cursor:pointer;
  background-color: $color-button-bg;
  position: relative;

  // Background image in pseudo-element
  &:before {
    @include iconBefore;
  }

  &:after { // test
    content: ' ';
    display: block;
    position: absolute;
    opacity:0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:$color-listitem-less;
    transition: opacity $app-standard-duration ease-out;
  }
  &:hover {
    background-color: $color-button-over;
  }
}
.iconButton.isDisabled {
  @include disabledIconButton;
}

// decorates iconButton
.toggleButton {
  background-color: transparent;
  &:before {
    opacity:0.25;
  }
  &:hover {
    &:before {
      opacity:0.7;
    }
    background-color: $color-button-over;
  }
  &.isSelected {
    background-color: $color-listitem-selected;
    &:before {
      opacity:0.7;
    }
    &:hover {
      background-color: $color-listitem-selected-over;
    }
  }
}

.moreButton {
  &:before {
    background-image: url('./../img/icons/more_horiz_white_24dp.svg');
  }
}

.closeButton {
  background-color:transparent;
  &:before {
    background-image: url('./../img/icons/close_white_24dp.svg');
  }
}

// ---

.textButton {
  display: inline-block;
  border-radius: 6px;
  vertical-align: top;
  height: 36px;
  padding-left:12px;
  padding-right:12px;
  font-size:13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height:36px;
  background-color: $color-button-bg;
  cursor:pointer;

  &:hover {
    background-color: $color-button-over;
  }
}
.textButton.isDisabled {
  pointer-events:none;
  color: $color-text-least;
}

.buttonBlink {
  &:after {
    transition: background-color 0s linear;
    opacity:1.0;
  }
}