// Margin 'unit' used for list item spacing
$marginUnit: 8px;
$marginUnitMobile: 6px;


#libraryView {
  // special case for lib view
  padding-left:0;
  padding-right:0;
  overflow-x: hidden; // bc layout bug when window width is near container width :/

  // is always bottom-most subview
  // must have a value due to how app.js modal management works
  z-index: 100;
}

#libraryHeaderView {
  display:flex;
  margin-left:$space-unit;
  margin-right:$space-unit;
  height:36px;
  align-items:center;
  @include mobile {
    margin-left:$space-unit-mobile;
    margin-right:$space-unit-mobile;
  }
}

#libraryNumbers {
  margin-left:8px;
  font-size: $font-size-smaller;
  padding-top:3px;
  color:var(--col-text-least);
}

#librarySpinner {
  position:absolute;
  left:50%;
  top:50%;
  opacity:0;
  transition: opacity 1s linear 1s;
}

// Wrapper of the main library content
#libraryAlbumsView {
  margin-top:$space-unit;
	margin-left:auto;
	margin-right:auto;
  padding-left:8px; // net effect is that listitems align 16px from edge
  padding-right:8px;
  max-width:1800px;
  @include mobile {
    margin-top:$space-unit-mobile;
    padding-left:6px; // net effect is that listitems align 12px from edges
    padding-right:6px;
  }
}

// Wrapper for the search results content
#librarySearchView {
  margin-left:auto;
  margin-right:auto;
  max-width:1800px;
  padding-left:8px; // net effect is that listitems align 16px from edge
  padding-right:8px;
  margin-top:$space-unit;

  @include mobile {
    margin-top:$space-unit-mobile;
    padding-left:6px; // net effect is that listitems align 12px from edges
    padding-right:6px;
  }
}

// Precedes libraryGroup
.libraryGroupLabel {

  position:relative;
  &:before {
    @include iconBefore();
    background-position: 6px center;
    background-image: url('./../img/icons/expand_less_white_24dp.svg');
  }
  &.isCollapsed{
    &:before {
      background-image: url('./../img/icons/expand_more_white_24dp.svg');
    }
  }

  display:flex;
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  padding-left:28px;
  padding-right:12px;
  height:$icon-button-side;
  border-top: 1px solid var(--col-listitem);
  // border-left: 1px solid var(--col-listitem);
  margin-bottom: 8px;

  cursor:pointer;

  .inner {
    margin-left:6px;
    line-height:36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .folderIcon {
    &:before {
      background-image: url('./../img/icons/folder_white_24dp.svg');
    }
  }
  .waveIcon {
    &:before {
      background-image: url('./../img/icons/sound-wave-1.svg');
    }
  }
  .genreIcon {
    &:before {
      background-image: url('./../img/icons/category_white_24dp.svg');
    }
  }

  .count {
    margin-left: 10px;
    padding-top:4px;
    font-size: $font-size-smaller;
    color: var(--col-text-least);
  }
}


// Wraps library items.
// The list may have one or more groups.
.libraryGroup {
  display:flex;
  flex-wrap: wrap;
  margin-bottom:8px;
  &.isCollapsed{
    display:none;
  }
}

// ---

.libraryItem {
  position:relative;
	width: calc(16.666% - #{$marginUnit * 2}); // 6 cols from 1501px to maxwidth
	background:var(--col-listitem);
  cursor:pointer;

	padding: 12px 12px 11px 12px;
	margin-left: $marginUnit;
	margin-right: $marginUnit;
	margin-bottom: $marginUnit * 2;

  @include mobile {
    padding: 9px;
    margin-left: $marginUnitMobile;
    margin-right: $marginUnitMobile;
    margin-bottom: $marginUnitMobile * 2;
  }
}

#libraryNoneItem {
  width:100%;
  cursor:default;
  background:unset;
}

// Special breakpoints for num-columns!

// 5cols from 1201-1500px
@media (max-width: 1500px)  {
  .libraryItem {
    width: calc(20% - #{$marginUnit * 2});
  }
}
// 4cols from 901-1200px
@media (max-width: 1200px)  {
  .libraryItem {
    width: calc(25% - #{$marginUnit * 2});
  }
}
// 3cols from 601-900px
@media (max-width: 900px)  {
  .libraryItem {
    width: calc(33.333% - #{$marginUnit * 2});
  }
}
// 2cols up to 600px
@media (max-width: 600px)  {
  .libraryItem {
    width: calc(50% - #{$marginUnit * 2});
  }
}
// 2cols special case for mobile breakpoint's spacing settings
@media (max-width: $mobile-max-width)  {
  .libraryItem {
    width: calc(50% - #{$marginUnitMobile * 2});
  }
}

.libraryItemPicture {
	position:relative;
  width:100%;
	margin-bottom: 6px;

  // force square aspect ratio
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  img {
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
  }
}

.libraryItemText1 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.libraryItemText2 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  margin-top:-4px;
}
.libraryItemBits {
  position:absolute;
  line-height:20px;
  font-size:12px;
  background-color:var(--col-listitem);
  padding-left:6px;
  padding-right:4px;
  padding-bottom:2px;
  right:12px;
  bottom:68px;
  opacity:0;
  transition: opacity 0.12s linear;
  @include mobile {
    right:6px;
    bottom:58px;
  }
}
.libraryItem:hover .libraryItemBits {
  opacity:1;
}
.libraryItemFavorite {
  display:none;
  position:absolute;
  width:24px;
  height:24px;
  bottom:19px;
  right:10px;
  background-image: url('./../img/icons/favorite_white_24dp.svg');
  opacity:0.35;
  filter:brightness(var(--icon-brightness));
  @include mobile {
    bottom: 15px;
  }
}

.libraryItem.isFavorite {
  .libraryItemFavorite {
    display: block;
  }
  .libraryItemText1,
  .libraryItemText2 {
    margin-right:26px;
  }
}

// ---
// options-related

#libraryAlbumOptionsView {
  display:flex;
}

#libraryOptionsButtons {
  position:relative;
  height:$icon-button-side;
  &:before {
    content: ' ';
    position:absolute;
    width:100%;
    height:100%;
    background-color: var(--col-listitem);
    opacity: 0;
  }
  &.isSelected {
    &:before {
      transition:opacity ($app-standard-duration * 0.5) $app-standard-ease;
      opacity:1;
    }
  }
}

#libraryGroupButton {
  &:before {
    background-image: url('./../img/icons/category_white_24dp.svg');
  }
}

#librarySortButton {
  &:before {
    background-image: url('./../img/icons/sort_white_24dp.svg');
  }
}
#libraryBitrateButton {
  &:before {
    background-image: url('./../img/icons/filter_alt_white_24dp.svg');
  }
  &.badge {
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 22px;
      top: 4px;
      width: 5px;
      height: 5px;
      background-color: var(--col-text);
      border-radius: 5px;
      border:2px solid var(--col-bg);
    }
  }
}
#libraryGroupDropdown,
#librarySortDropdown,
#libraryBitrateDropdown {
  width:175px;
  margin-right: 8px;

  opacity:0;
  transform: translate(38px);
  transition:
  transform ($app-standard-duration * 0.5) $app-standard-ease,
  opacity ($app-standard-duration * 0.5) linear;
  &.animIn {
    opacity:1;
    transform: translate(0);
  }
}

.librarySearchDivider {
  margin: 0 12px 0 12px;
  height:$icon-button-side;
  border-left: 2px solid var(--col-listitem);
  @include mobile {
    margin: 0 6px 0 6px;
  }
}

#librarySearchButton {
  &:before {
    background-image: url('./../img/icons/search_white_24dp.svg');
  }
}

// ---

#librarySearchOptionsView {
  position:relative;
  background-color: var(--col-listitem-less);
  border:1px solid var(--col-listitem-selected-over);
  margin: $space-unit $space-unit ($space-unit * 1.5) $space-unit;
  padding: $space-unit $space-unit $space-unit $space-unit;
}

#librarySearchCloseButton {
  position:absolute;
  right:6px;
  top:6px;
}

label {
  display:block;
  text-transform: uppercase;
  font-size: $font-size-smaller;
  font-weight: bold;
}

.inputLine {
  margin-top: 16px;
  display:flex;
}

#librarySearchInput {
  border:1px solid var(--col-listitem);
  background-color: var(--col-text);
  color:var(--col-bg);

  height: $icon-button-side;
  line-height: $icon-button-side;
  padding-left:8px;
  padding-right:8px;

  // not sure why this works
  flex:1 1;
  width:100%;

  @include userSelect(auto);
}
.lightTheme #librarySearchInput {
  border:1px solid var(--col-listitem);
  background-color: var(--col-bg);
  color:var(--col-text);
}

#librarySearchOkButton {
  margin-left:12px;
}

.controlsLine {
  margin-top: 16px;
  display:flex;
  align-items:center;

  #searchArtistCheckbox { }
  #searchAlbumCheckbox {
    margin-left:16px;
  }
  #searchTrackCheckbox {
    margin-left:16px;
  }
}

.isDisabled #libraryAlbumOptionsView {
  pointer-events: none;
}

// ---

// rem, container is flex wrap
.librarySearchTrackItem {
  // has no bg col
  display:flex;
  align-items:center;
  width:50%; // 2cols
  padding: 0px 12px 0 12px;
  margin-bottom: 24px;
  cursor:default;

  @include mobile {
    width:100%;
    padding: 0 8px 0 8px;
    margin-bottom:18px;
  }

  .content {
    width: calc(100% - 48px);
  }

  .song, .artist, .album {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .song {
    font-weight: bold;
  }
  .artist, .album {
    color:var(--col-text-less);
  }


  .moreButton {
    margin-left:auto;
  }
}
