#libraryView {
  // special case for lib view
  padding-left:0;
  padding-right:0;
  overflow-x: hidden; // bc layout bug when window width is near container width :/

  // is always bottom-most subview
  // must have a value due to how app.js modal management works
  z-index: 100;
}

#libraryHeaderView {
  margin-left:$space-unit;
  margin-right:$space-unit;
  height:36px;
  flex:1;

  display:flex;
  flex-direction: row;
  align-items:center;
  @include mobile {
    margin-left:$space-unit-mobile;
    margin-right:$space-unit-mobile;
  }
}

#libraryNumbers {
  margin-left:8px;
  font-size: $font-size-smaller;
  padding-top:3px;
  color:$color-text-least;
}

#librarySpinner {
  position:absolute;
  left:50%;
  top:50%;
  opacity:0;
  transition: opacity 1s linear 1s;
}

// Wrapper of the main library content
#libraryContent {
  margin-top:($space-unit * 1.5);
	margin-left:auto;
	margin-right:auto;
	// width set programmatically so columns remain centered
  @include mobile {
    margin-top:$space-unit-mobile;
  }
}

// Precedes libraryGroup
.libraryGroupLabel {

  position:relative;
  &:before {
    @include iconBefore();
    background-position: 6px center;
    background-image: url('./../img/icons/expand_less_white_24dp.svg');
  }
  &.isCollapsed{
    &:before {
      background-image: url('./../img/icons/expand_more_white_24dp.svg');
    }
  }

  display:flex;
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  padding-left:28px;
  padding-right:12px;
  height:$icon-button-side;
  border-top: 1px solid $color-listitem;
  // border-left: 1px solid $color-listitem;
  margin-bottom: 8px;

  cursor:pointer;

  .inner {
    margin-left:6px;
    line-height:36px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .folderIcon {
    &:before {
      background-image: url('./../img/icons/folder_white_24dp.svg');
    }
  }
  .waveIcon {
    &:before {
      background-image: url('./../img/icons/sound-wave-1.svg');
    }
  }
  .genreIcon {
    &:before {
      background-image: url('./../img/icons/category_white_24dp.svg');
    }
  }

  .count {
    margin-left: 10px;
    padding-top:4px;
    font-size: $font-size-smaller;
    color: $color-text-least;
  }
}


// Wraps library items.
// The list may have one or more groups.
.libraryGroup {
  display:flex;
  flex-wrap: wrap;
  margin-bottom:8px;
  &.isCollapsed{
    display:none;
  }
}

.libraryItem {
  position:relative;
	width: 240px;
	background:$color-listitem;
	padding: 12px 12px 12px 12px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 16px;
	cursor:pointer;

  @include tablet {
    width:224px;
  }

  @include mobile {
    width:144px;
    padding:6px 6px 6px 6px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 8px;
  }
}

.libraryItemPicture {
	width:(240px - 12px - 12px);
	height:(240px - 12px - 12px);
	background:rgba(0,0,0,0.0);
	margin-bottom: 4px;
  object-fit: cover;

  @include tablet {
    width: (224px - 12px - 12px);
    height: (224px - 12px - 12px);
  }

  @include mobile {
    width: (144px - 6px - 6px);
    height: (144px - 6px - 6px);
  }
}

.libraryItemText1 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.libraryItemText2 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  margin-top:-4px;
}
.libraryItemBits {
  position:absolute;
  line-height:20px;
  font-size:12px;
  background-color:$color-listitem;
  padding-left:6px;
  padding-right:4px;
  padding-bottom:2px;
  right:12px;
  top:198px;
  opacity:0;
  transition: opacity 0.12s linear;
  @include tablet {
    right:12px;
    top:182px;
  }
  @include mobile {
    right:6px;
    top:108px;
  }
}
.libraryItem:hover .libraryItemBits {
  opacity:1;
}

// ---
// options-related

#libraryOptionsView {
  margin-left:auto;
  display:flex;
}

#libraryOptionsButtons {
  position:relative;
  height:$icon-button-side;
  &:before {
    content: ' ';
    position:absolute;
    width:100%;
    height:100%;
    background-color: $color-listitem;
    opacity: 0;
  }
  &.isSelected {
    &:before {
      transition:opacity ($app-standard-duration / 2) $app-standard-ease;
      opacity:1;
    }
  }
}

#libraryGroupButton {
  &:before {
    background-image: url('./../img/icons/category_white_24dp.svg');
  }
}

#librarySortButton {
  &:before {
    background-image: url('./../img/icons/sort_white_24dp.svg');
  }
}
#libraryBitrateButton {
  &:before {
    background-image: url('./../img/icons/filter_alt_white_24dp.svg');
  }
  &.badge {
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 22px;
      top: 4px;
      width: 5px;
      height: 5px;
      background-color: $color-text;
      border-radius: 5px;
      border:2px solid $color-bg;
    }
  }
}
#libraryGroupDropdown,
#librarySortDropdown,
#libraryBitrateDropdown {
  width:175px;
  margin-right: 8px;

  opacity:0;
  transform: translate(38px);
  transition:
  transform ($app-standard-duration / 2) $app-standard-ease,
  opacity ($app-standard-duration / 2) linear;
  &.animIn {
    opacity:1;
    transform: translate(0);
  }
}

.isDisabled #libraryOptionsView {
  pointer-events: none;
}

