$leftRightEase: ease-in-out;

// ---
// Shared list item classes for playlist + history

.playHisNonItem {
  padding-top:$space-unit;
  color:var(--col-text-less);
}

// ---

#playlistView {
  margin:0;
  padding:0;
  overflow:hidden;
  transition: top $app-standard-duration $app-standard-ease;

  &.animIn {
    border-top: 1px solid var(--col-listitem);
  }
}

#playlistMainView {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#playlistRepeatButton {
  margin-left:auto;
  margin-right:8px;
  position:relative;
  padding-left:42px;
  background-color:transparent;
  text-transform: none;
  font-weight: normal;

  &:before {
    @include iconBefore;
    left:4px;
    width:$icon-button-side;
    background-image: url('./../img/icons/repeat_white_24dp.svg');
  }
  &:hover {
    background-color: var(--col-listitem-over);
  }
  &.isAll {
    &:before {
      background-image: url('./../img/icons/repeat_on_white_24dp.svg');
    }
  }
  &.isOne {
    &:before {
      background-image: url('./../img/icons/repeat_one_on_white_24dp.svg');
    }
  }
}

#playlistCloseButton { }

#playlistList {
  margin-top:16px;
}

// --

.playlistButtons {
  margin-top:12px;
  margin-bottom:0; // nb
  display:flex;
}

#playlistClearButton {
  background-color:transparent;
  &:hover {
    background-color:var(--col-listitem);
  }
  color:var(--col-text-less);
}

#playlistLoadButton,
#playlistSaveButton,
#playlistHistoryButton {
  margin-left:8px;
  background-color:transparent;
  &:hover {
    background-color:var(--col-listitem);
  }
  color:var(--col-text-less);
}

#playlistLoadButton {
  &.isDisabled {
    color:var(--col-text-least);
  }
}

#playlistSaveButton {
  display:none;
  &.isDisabled {
    color:var(--col-text-least);
    pointer-events:none;
  }
}
.isMetaEnabled #playlistSaveButton {
  display:block;
}

#playlistHistoryButton {
  display:none;
}
.isMetaEnabled #playlistHistoryButton {
  display:block;
}

// ---

#playlistSaver {
  position:relative;
  transition: height $app-standard-duration $app-standard-ease;
  overflow: hidden;
  .inner {
    position:relative;
    padding: 16px;
    background-color: var(--col-listitem-less);
    border:1px solid var(--col-listitem-selected-over);
  }
  label {
    display:block;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .inputLine {
    display:flex;
  }
}

#playlistSaveInput {
  height: $icon-button-side;
  line-height: $icon-button-side;
  padding-left:8px;
  padding-right:8px;

  border:1px solid var(--col-listitem);
  background-color: var(--col-text);
  color:var(--col-bg);

  // not sure why this works
  flex:1 1;
  width:100%;

  @include userSelect(auto);
}
.lightTheme #playlistSaveInput {
  border:1px solid var(--col-listitem);
  background-color: var(--col-bg);
  color:var(--col-text);
}

#playlistSaveOkayButton {
  margin-left:12px;
}

#playlistSaveCloseButton {
  position:absolute;
  right:6px;
  top:6px;
}

#playlistList .trackItem {

  position:relative;

  // selected indicator
  &:before {
    width: 0;
    background: var(--col-text-less);
    content: ' ';
    position: absolute;
    left: 0;
    height: 100%;
    opacity:1;
  }
  &.selected {
    &:before {
      width: 4px;
    }
  }
  .duration {
    font-size: $font-size-smaller;
    color:var(--col-text-least);
  }
}

.isPaused #playlistList .trackItem {
  &.selected {
    &:before {
      opacity: 0.5;
    }
  }
}

.isBusy #playlistList .trackItem {
  &.selected {
    &:before {
      animation: thumbPulse 1.33s infinite;
    }
  }
}

// ---

#historyView{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#historyHeader {
  margin-bottom: 8px;
}

.historyItem {
  cursor:default;
  &:hover {
    background-color: var(--col-listitem-less);
  }
  .left {
    min-width:18px;
    text-align: right;
    color: var(--col-text-least);
  }
  .main {
  }
  .right {
    margin-left:16px;
  }
}

.historyItem .moreButton.isDisabled {
    opacity:0.4;
}

#historyList {
  margin-top:24px;
}

.historyItemAgo {
  color:var(--col-text-less);
  font-size: $font-size-smaller;
}

#trackListItemContextAlbum {
  border-top:1px solid var(--col-listitem);
}

// ---

#loadPlaylistView{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#loadHeader {
  margin-bottom: 8px;
}

#loadCloseButton { }

.loadListCustomSubheader {
  display:none;
  margin-top: 18px;
  margin-bottom: 12px;
}
.isMetaEnabled .loadListCustomSubheader {
  display:block;
}

.loadListHqpSubheader {
  margin-top: 22px;
  margin-bottom: 12px;
}

#loadCustomList {
  display:none;
  margin-top:18px;
}
.isMetaEnabled #loadCustomList {
  display:block;
}

#loadHqpList {
  margin-top:18px;
}

.loadItem {
  display:flex;
  position:relative;

  margin-bottom:8px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:8px;
  padding-left: ($icon-button-side + 8px);
  &:before {
    @include iconBefore;
    background-position: 8px center;
    background-image: url('./../img/icons/featured_play_list_white_24dp.svg');
  }
  .numTracks {
    display:inline-block;
    margin-left:6px;
    font-size: $font-size-smaller;
    color:var(--col-text-less);
    line-height:$icon-button-side;
    padding-top:2px;
  }
  .moreButton {
    margin-left:auto;
  }
}

.loadNonItem {
  cursor:default;
  color:var(--col-text-less);
  background-color:var(--col-bg);
  &:hover {
    background-color:var(--col-bg);
  }
}

.loadFyiItem {
  &:before {
    background-image: url('./../img/icons/info_white_24dp.svg');
  }
  font-size: $font-size-smaller;
  color:var(--col-text-less);
}

#loadContextAlbum {
  border-top:1px solid var(--col-listitem);
}
