#playbarView {
  visibility: hidden;
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  height:$playbar-height;
  min-width:$site-min-width;
	flex: 0 0 auto;
	padding: 12px 0 0 0;
  background-color: var(--col-bg);
  z-index:10001;
}

// ---

#playingText {
  display:inline-block;
  margin-left:12px;

  // this impacts overall playbar height; careful
  // todo refactor layout :/
  margin-top:1px;
  height:24px;
  margin-bottom:11px;

  max-width: calc(100% - 124px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor:pointer;
  &:hover {
    opacity:0.8;
  }

  @include mobile {
    margin-top:3px;
    height:24px;
    margin-bottom:9px;

    max-width: calc(100% - 108px);
  }
}

#playbarButtons {
  display: flex;
  align-items: center;
  margin-left:12px;
  margin-right:76px;
  @include mobile {
    margin-right:60px;
  }
}

#stopButton {
  margin-right:16px;
  &:before {
  	background-image: url('./../img/icons/stop_white_24dp.svg');
  }
  @include tablet {
    margin-right:8px;
  }
}
.isStopped #stopButton {
  @include disabledIconButton;
}

#playButton {
  margin-right:8px;
	width:72px;
  &:before {
    background-image: url('./../img/icons/play_arrow_white_24dp.svg');
  }
  @include mobile {
    width: 36px;
  }
}
.isPlaying #playButton {
  &:before {
    background-image: url('./../img/icons/pause_white_24dp.svg');
  }
}
.isPaused #playButton {
  &:before {
    background-image: url('./../img/icons/play_arrow_white_24dp.svg');
  }
}
.isStopped #playButton { }
.isPlaylistEmpty #playButton {
  &:before {
    background-image: url('./../img/icons/play_arrow_white_24dp.svg');
  }
  @include disabledIconButton;
}

#previousButton {
  margin-right:8px;
  &:before {
    background-image: url('./../img/icons/skip_previous_white_24dp.svg');
  }
}
.isStopped #previousButton {
  @include disabledIconButton;
}

#nextButton {
  margin-right:16px;
  &:before {
    background-image: url('./../img/icons/skip_next_white_24dp.svg');
  }
  @include mobile {
    margin-right: 12px;
  }
}
.isStopped #nextButton {
  @include disabledIconButton;
}

#seekBackwardButton {
  margin-right:8px;
  &:before {
    background-image: url('./../img/icons/replay_10_white_24dp.svg');
  }
}
.isStopped #seekBackwardButton {
  @include disabledIconButton;
}

#seekForwardButton {
  &:before {
    background-image: url('./../img/icons/forward_10_white_24dp.svg');
  }
  margin-right:16px;
}
.isStopped #seekForwardButton {
  @include disabledIconButton;
}

// special breakpoint
@media (max-width: 639px)  {
  #seekBackwardButton, #seekForwardButton {
    display:none;
  }
}

#playingTrackArea {
  flex: 1;
  display:flex;
  align-items: center;
}
#playingTrackCurrentTime {
	font-size:12px;
  @include mobile {
    display:none;
  }
}
#playingTrackLength {
  font-size:12px;
  @include mobile {
    display:none;
  }
}
.isStopped #playingTrackCurrentTime,
.isStopped #playingTrackLength {
  color: var(--col-text-less);
}

// ---

#volumeToggleButton {
  position:absolute;
  right:72px;
  top:12px;
  &.isSelected {
    background-color:var(--col-listitem);
  }
  &:before {
    background-image: url('./../img/icons/volume_up_white_24dp.svg');
    background-position: 8px center;
  }

  @include mobile {
    right:60px;
  }
}

#volumePanel {
  visibility: hidden;
  position:absolute;
  width:68px;
  right:54px;
  bottom:100%;
  overflow-y: hidden;
  @include mobile {
    right:44px;
  }
}
#volumePanelInner {
  position:relative;
  width:68px;
  display:flex;
  flex-direction:column;
  background-color:var(--col-listitem-less);
  padding: 8px 8px 0 8px;
  transition: top 166ms ease-out;
}
#volumeText {
  line-height: 36px;
  width:52px;
  text-align: center;
  font-size: $font-size-smaller;
  font-weight: bold;
  background-color:var(--col-listitem);
}
.volumePanelButton {
  border-radius:0;
  width:52px;
  text-align: center;
  font-weight: normal;
}
.volumePanelButtonSpacer {
  width:52px;
  height:8px;
  background:var(--col-listitem);
}

// ---

$thumb-width: 20px;

#playProgressView {
  position:relative;
  flex: 1;
	height:20px;
	margin-left:12px;
	margin-right:12px;
  background-color:var(--col-listitem);
  @include mobile {
    margin-left:0;
    margin-right:0;
  }
}
.isStopped #playProgressView,
.isBusy #playProgressView{
  pointer-events: none;
}

#playProgressInner {
  position:absolute;
  width:calc(100% - #{$thumb-width} );
  height:100%;
  left:$thumb-width * 0.5;
}
#playProgressThumb {
  position:absolute;
  width:$thumb-width;
  height:100%;
  margin-left: $thumb-width * -0.5;
  cursor:pointer;
  background-color:var(--col-accent);

  transition:left 0s linear;
  &.isAnimating {
    transition:left 1s linear;
  }

  @include mobile {
    transition: none;
    &.isAnimating {
      transition: none;
    }
  }
}
.isStopped #playProgressThumb {
  pointer-events:none;
  opacity:0;
}
.isPaused #playProgressThumb {
  opacity:0.5;
}
.isBusy #playProgressThumb {
  animation: thumbPulse 1.33s infinite;
  pointer-events: none;
  transition: background-color 0.15s linear;
}

#playbarStroke {
  position:absolute;
  width:1px;
  height:84px;
  right:60px;
  top:6px;
  background-color:var(--col-listitem);
  @include mobile {
    display:none;
  }
}

#showPlaylistButton {
  position:absolute;
  top:12px;
  right:12px;
  height: calc(100% - 24px);
  &:before {
    background-image: url('./../img/icons/queue_music_white_24dp.svg');
    background-position: center 6px;
  }
}
.playlistView #showPlaylistButton {
  background-color: var(--col-listitem-selected);
}

#playlistNumberAt {
  position:absolute;
  top:33px;
  width:100%;
  text-align:center;
  font-size:11px;
}
#playlistNumberStroke {
  position:absolute;
  top:51px;
  left:11px;
  height:1px;
  width:14px;
  background-color:var(--col-text);
}
#playlistNumberTotal {
  position:absolute;
  top:53px;
  width:100%;
  text-align:center;
  font-size:11px;
}

@include mobile {
  #showPlaylistButton {
    // is ok
  }
}

// ---
#bottomScrim {
  position:absolute;
  width:100%;
  height: 28px;
  top:-28px;
  pointer-events:none;
  background: linear-gradient(0deg,
      rgba(0,0,0, 0.5) 0%,
      rgba(0,0,0, 0.25) 40%,
      rgba(0,0,0, 0.0) 100%
  );
  //overflow:hidden;
  //filter: blur(3px);
  @include mobile {
    display: none;
  }
}
.lightTheme #bottomScrim {
  background: linear-gradient(0deg,
      rgba(0,0,0, 0.2) 0%,
      rgba(0,0,0, 0.1) 40%,
      rgba(0,0,0, 0.0) 100%
  );
}

#bottomStroke {
  position:absolute;
  width:100%;
  height:1px;
  top:0px;
  background-color:var(--col-listitem);
}

// ---
// Piggybacks off the top of the playbar
#toast {
  $toast-height:36px;

  visibility: hidden;
  position: absolute;
  width: 100%;
  height: $toast-height;
  top: -$toast-height;
  overflow: hidden;

  #toastInner {
    position: absolute;
    left: 0;
    width: 100%;
    height: $toast-height;
    background: var(--col-bg);
    border-top: 2px solid var(--col-listitem);
    padding: 0 16px 0 16px;
    font-size: $font-size-smaller;
    text-align: center;
    line-height: $toast-height - 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: top $app-standard-duration cubic-bezier(0, .5, .3, 1.0);
    @include mobile {
      font-size: $font-size-smaller-mobile;
    }
  }
}

// Piggybacks off the top of the playbar
#snack {
  visibility: hidden;
  position:absolute;
  width:100%;
  height: 55px;
  top:-55px;
  overflow:hidden;

  #snackInner {
    position:absolute;
    left:0;
    width:100%;
    height: 55px;
    background:#282828;
    border-top:2px solid #444;
    line-height:22px;
    padding: 4px 16px 0 16px;
    transition: top $app-standard-duration $app-standard-ease;

    #snackIcon {
      position:absolute;
      top:8px;
      left:14px;
      &:before {
        background-image: url('./../img/icons/error_outline_white_24dp.svg');
      }
      background-color: transparent;
      cursor: default;
    }
    #snackClose {
      position:absolute;
      top:10px;
      right:12px;
    }
    #snackLine1 {
      margin-left:44px;
      margin-right:38px;
      color: var(--col-accent);
      font-weight: bold;
    }
    #snackLine2 {
      margin-left:44px;
      margin-right:38px;
    }
  }
}
