#playlistView {
  transition: top 333ms cubic-bezier(0,.5,.3,1.0);
}

#playlistHeader {
	margin-bottom: 8px;
}

#playlistClearButton { }

#playlistRepeatButton {
  position:relative;
  margin-left:auto;
  padding-left:42px;
  background-color:transparent;
  text-transform: none;
  font-weight: normal;

  &:before {
    @include iconBefore;
    left:4px;
    width:$icon-button-side;
    opacity: 0.7;
    background-image: url('./../img/icons/repeat_white_24dp.svg');
  }
  &:hover {
    background-color: $color-button-over;
  }
  &.isAll {
    &:before {
      background-image: url('./../img/icons/repeat_on_white_24dp.svg');
    }
  }
  &.isOne {
    &:before {
      background-image: url('./../img/icons/repeat_one_on_white_24dp.svg');
    }
  }
}

#playlistNonItem {
  padding-top:$space-unit;
  color:$color-text-less;
}

.playlistItem {
	display:flex;
	align-items:center;
	background-color:$color-listitem-less;
	padding: 10px 12px 10px 12px;
  margin-top: 4px;
	margin-bottom: 4px;
	cursor:pointer;
	&:hover {
		background-color:$color-listitem;
	}
	&.selected {
		background-color: $color-listitem;
		&:hover {
			background-color:$color-listitem-selected;
		}
	}
  @include mobile {
    padding: 8px 8px 8px 8px;
  }
}
.playlistItemMeta {
  height:$icon-button-side; // w/o this, is too tall, not sure why
  margin-left:12px;
  display:flex;
  align-items:center;
}
.playlistItemViews {
  font-size: $font-size-smaller;
  color:$color-text-least;
  margin-right:4px;
}


$margin1: 0px;
$margin2: 18px;

.playlistItem.groupFirst {
  border-top-left-radius: $space-unit;
  border-top-right-radius: $space-unit;
  margin-top:$margin2;
  margin-bottom:$margin1;
  border-top:1px solid $color-listitem;
  border-left:1px solid $color-listitem;
  border-right:1px solid $color-listitem;
  @include mobile {
    border-top-left-radius: $space-unit-mobile;
    border-top-right-radius: $space-unit-mobile;
  }
}
.playlistItem.groupMiddle {
  margin-top:$margin1;
  margin-bottom:$margin1;
  border-left:1px solid $color-listitem;
  border-right:1px solid $color-listitem;
}
.playlistItem.groupLast {
  border-bottom-left-radius: $space-unit;
  border-bottom-right-radius: $space-unit;
  margin-top:$margin1;
  margin-bottom:$margin2;
  border-left:1px solid $color-listitem;
  border-right:1px solid $color-listitem;
  border-bottom:1px solid $color-listitem;
  @include mobile {
    border-bottom-left-radius: $space-unit-mobile;
    border-bottom-right-radius: $space-unit-mobile;
  }
}
.playlistItem.single {
  //border-radius: 16px;
  margin-top:$margin2;
  margin-bottom:$margin2;
  border: 1px solid $color-listitem;
}

.playlistItemLeft {
	margin-right:$space-unit;
  @include mobile {
    margin-right:$space-unit-mobile;
  }
}
.playlistItemMain {
	flex:1;
}
.playlistItemRight {
  margin-left:$space-unit;
  @include mobile {
    margin-left:$space-unit-mobile;
  }
}

#playlistContextAlbum {
  border-top:1px solid $color-listitem;
}