$leftRightEase: ease-in-out;

// ---
// Shared list item classes for playlist + history

.playHisNonItem {
  padding-top:$space-unit;
  color:var(--col-text-less);
}

.playHisItem {
	display:flex;
	align-items:center;
	background-color:var(--col-listitem-less);
	padding: 10px 12px 10px 12px;
  margin-top: 4px;
	margin-bottom: 4px;
	cursor:pointer;
	&:hover {
		background-color:var(--col-listitem);
	}
  @include mobile {
    padding: 8px 8px 8px 8px;
  }

  .left {
    margin-right:16px;
    @include mobile {
      margin-right:10px;
    }
  }
  .main {
    flex:1;
  }
  .right {
    height:$icon-button-side;
  }
}
.isTouch .playHisItem {
  &:hover {
    background-color:var(--col-listitem-less);
  }
}


$margin1: 0px;
$margin2: 16px;
$border-radius: 0px;
$border-radius-mobile:0px;

.playHisItem.groupFirst {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  margin-bottom:$margin1;
  border-top:1px solid var(--col-listitem);
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
  @include mobile {
    border-top-left-radius: $border-radius-mobile;
    border-top-right-radius: $border-radius-mobile;
  }
}
.playHisItem.groupMiddle {
  margin-top:$margin1;
  margin-bottom:$margin1;
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
}
.playHisItem.groupLast {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  margin-top:$margin1;
  margin-bottom:$margin2;
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
  border-bottom:1px solid var(--col-listitem);
  @include mobile {
    border-bottom-left-radius: $border-radius-mobile;
    border-bottom-right-radius: $border-radius-mobile;
  }
}
.playHisItem.single {
  //border-radius: 16px;
  margin-bottom:$margin2;
  border: 1px solid var(--col-listitem);
}

// ---

#playlistView {
  margin:0;
  padding:0;
  overflow:hidden;
  transition: top $app-standard-duration $app-standard-ease;

  &.animIn {
    border-top: 1px solid var(--col-listitem);
  }
}

#playlistMainView {
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#playlistHeader {
  margin-bottom: 8px;
}

#playlistRepeatButton {
  margin-left:auto;
  margin-right:8px;
  position:relative;
  padding-left:42px;
  background-color:transparent;
  text-transform: none;
  font-weight: normal;

  &:before {
    @include iconBefore;
    left:4px;
    width:$icon-button-side;
    background-image: url('./../img/icons/repeat_white_24dp.svg');
  }
  &:hover {
    background-color: var(--col-listitem-over);
  }
  &.isAll {
    &:before {
      background-image: url('./../img/icons/repeat_on_white_24dp.svg');
    }
  }
  &.isOne {
    &:before {
      background-image: url('./../img/icons/repeat_one_on_white_24dp.svg');
    }
  }
}

#playlistCloseButton { }

#playlistList {
  margin-top:16px;
}

// --

.playlistButtons {
  margin-top:12px;
  margin-bottom:0; // nb
  display:flex;
}

#playlistClearButton {
  background-color:transparent;
  &:hover {
    background-color:var(--col-listitem);
  }
  color:var(--col-text-less);
}

#playlistLoadButton,
#playlistSaveButton,
#playlistHistoryButton {
  margin-left:8px;
  background-color:transparent;
  &:hover {
    background-color:var(--col-listitem);
  }
  color:var(--col-text-less);
}

#playlistLoadButton {
  &.isDisabled {
    color:var(--col-text-least);
  }
}

#playlistSaveButton {
  display:none;
  &.isDisabled {
    color:var(--col-text-least);
    pointer-events:none;
  }
}
.isMetaEnabled #playlistSaveButton {
  display:block;
}

#playlistHistoryButton {
  display:none;
}
.isMetaEnabled #playlistHistoryButton {
  display:block;
}

// ---

#playlistSaver {
  position:relative;
  transition: height $app-standard-duration $app-standard-ease;
  overflow: hidden;
  .inner {
    position:relative;
    padding: 16px;
    background-color: var(--col-listitem-less);
    border:1px solid var(--col-listitem-selected-over);
  }
  label {
    display:block;
    text-transform: uppercase;
    font-size: $font-size-smaller;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .inputLine {
    display:flex;
  }
}

#playlistSaveInput {
  height: $icon-button-side;
  line-height: $icon-button-side;
  padding-left:8px;
  padding-right:8px;

  border:1px solid var(--col-listitem);
  background-color: var(--col-text);
  color:var(--col-bg);

  // not sure why this works
  flex:1 1;
  width:100%;

  @include userSelect(auto);
}
.lightTheme #playlistSaveInput {
  border:1px solid var(--col-listitem);
  background-color: var(--col-bg);
  color:var(--col-text);
}

#playlistSaveOkayButton {
  margin-left:12px;
}

#playlistSaveCloseButton {
  position:absolute;
  right:6px;
  top:6px;
}

// ---

.playlistItem {
  position:relative;

  // selected indicator
  &:before {
    width: 0;
    background: var(--col-text-less);
    content: ' ';
    position: absolute;
    left: 0;
    height: 100%;
    opacity:1;
  }

  &.selected {
    &:before {
      width: 4px;
    }
  }

  .left {
    width:48px;
    text-align: center;
    color: var(--col-text-least);
  }
  .main {
  }
  .right {
    margin-left:6px;
  }

  .duration {
    font-size: $font-size-smaller;
    color:var(--col-text-least);
  }
}

.isPaused .playlistItem {
  &.selected {
    &:before {
      opacity: 0.7;
    }
  }
}

.isBusy .playlistItem {
  &.selected {
    &:before {
      animation: thumbPulse 1.33s infinite;
    }
  }
}

.playlistItemMeta {
  display:none;
  height:$icon-button-side; // w/o this, is too tall, not sure why
  margin-left:12px;
  align-items:center;
}
.isMetaEnabled .playlistItemMeta {
  display:flex;
}

.playlistItemViews {
  font-size: $font-size-smaller;
  color:var(--col-text-least);
  margin-right:6px;
}

.playlistAlbumLine {
  display:flex;
  padding-left:12px;
  padding-top:12px;
  cursor:default;
  &:hover {
    background-color:var(--col-listitem-less);
  }
  .playlistAlbumButton {
    display:flex;
    align-items:center;
    margin-right:16px;
    cursor:pointer;
    &:hover {
      background-color: var(--col-listitem);
    }
    img {
      width:48px;
      height:48px;
      align-self:start;
    }
    .text {
      margin-left:16px;
      padding-right:12px;
    }
  }
  .statsText {
    margin-left:auto;
    font-size: $font-size-smaller;
    line-height:18px;
    color:var(--col-text-least);
    text-align:right;
    align-self:start;
  }
}

// ---

#historyView{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#historyHeader {
  margin-bottom: 8px;
}

.historyItem {
  cursor:default;
  &:hover {
    background-color: var(--col-listitem-less);
  }
  .left {
    min-width:18px;
    text-align: right;
    color: var(--col-text-least);
  }
  .main {
  }
  .right {
    margin-left:16px;
  }
}

.historyItem .moreButton.isDisabled {
    opacity:0.4;
}

#historyList {
  margin-top:24px;
}

.historyItemAgo {
  color:var(--col-text-less);
  font-size: $font-size-smaller;
}

#trackListItemContextAlbum {
  border-top:1px solid var(--col-listitem);
}

// ---

#loadPlaylistView{
  position:absolute;
  width:100%;
  height:100%;
  left:0;
  transition: left $app-standard-duration $leftRightEase;
}

#loadHeader {
  margin-bottom: 8px;
}

#loadCloseButton { }

.loadListCustomSubheader {
  display:none;
  margin-top: 18px;
  margin-bottom: 12px;
}
.isMetaEnabled .loadListCustomSubheader {
  display:block;
}

.loadListHqpSubheader {
  margin-top: 22px;
  margin-bottom: 12px;
}

#loadCustomList {
  display:none;
  margin-top:18px;
}
.isMetaEnabled #loadCustomList {
  display:block;
}

#loadHqpList {
  margin-top:18px;
}

.loadItem {
  display:flex;
  position:relative;

  margin-bottom:8px;
  padding-top:8px;
  padding-bottom:8px;
  padding-right:8px;
  padding-left: ($icon-button-side + 8px);
  &:before {
    @include iconBefore;
    background-position: 8px center;
    background-image: url('./../img/icons/featured_play_list_white_24dp.svg');
  }
  .numTracks {
    display:inline-block;
    margin-left:6px;
    font-size: $font-size-smaller;
    color:var(--col-text-less);
    line-height:$icon-button-side;
    padding-top:2px;
  }
  .moreButton {
    margin-left:auto;
  }
}

.loadNonItem {
  cursor:default;
  color:var(--col-text-less);
  background-color:var(--col-bg);
  &:hover {
    background-color:var(--col-bg);
  }
}

.loadFyiItem {
  &:before {
    background-image: url('./../img/icons/info_white_24dp.svg');
  }
  font-size: $font-size-smaller;
  color:var(--col-text-less);
}

#loadContextAlbum {
  border-top:1px solid var(--col-listitem);
}
