// Shared definitions

.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

label {
  display:block;
  text-transform: uppercase;
  font-size: $font-size-smaller;
  font-weight: bold;
}

.colorAccent {
  color: var(--col-accent);
}
.colorTextLess {
  color: var(--col-text-less);
}

.fontSizeSmaller {
  font-size:$font-size-smaller;
  @include mobile {
    font-size:$font-size-smaller-mobile;
  }
}

// A child of #mainView, covers the entire area of mainView
.subview {
  position:absolute;
  width:100%;
  height:100%;
  overflow-y: scroll;
  padding:$space-unit;
  background-color:var(--col-bg);
  transition: opacity $app-standard-duration $app-standard-ease;

  &:focus {
    outline: none
  }
  @include mobile {
    padding:$space-unit-mobile;
  }
}

.lowKeyCaption {
  font-size:$font-size-smaller;
  font-weight:bold;
  text-transform: uppercase;
  color:var(--col-text-least);
}

@keyframes thumbPulse {
  0% { opacity:1; }
  50% { opacity:0.5; }
  100% { opacity:1; }
}
