html {
  visibility: hidden; // until color theme is applied
}

// Is full area of viewport
#page { }

// see 'topbar.scss' for #topBar

#mainArea {
  position:absolute;
  width:100%;
  top:$top-bar-height;
  bottom:100px; // clear playbar // todo
  background-color:var(--col-bg);
  overflow:hidden;
}

// Allows us to know current breakpoint programmatically by inspecting element's width
#breakpointIndicator {
  position:absolute;
  visibility: hidden;
  height:0;
  width: 1px;
  @include tablet {
    width: 2px;
  }
  @include mobile {
    width: 3px;
  }
}

#debug {
  display:none;
  position:absolute;
  z-index:100000;
  width:400px;
  height:100px;
  top:10px;
  left:10px;
  overflow-y:auto;
  color:red;
  font-size:16px;
  font-weight:bold;
  background:rgba(255,255,255, 0.2);
}

#fullOverlayScreen {
  display:none;
  opacity: 0;
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.85);
  transition: opacity $app-standard-duration ease-in;
}
#fullOverlayImage {
  display:none;
  z-index: 9999;
  position:absolute;
  cursor: pointer;
  transition:
    left $app-standard-duration $app-standard-ease,
    top $app-standard-duration $app-standard-ease,
    width $app-standard-duration $app-standard-ease,
    height $app-standard-duration $app-standard-ease;
}

