#page {
  display: flex;
  flex-direction: column;
  flex:1;
  overflow: hidden;
}

#mainArea {
  visibility: hidden; /* until init */
  position:relative;
  background-color:$color-bg;
  flex: 1;
}

// ---

#topBar {
  position:relative;
  flex: 0 0 auto;
  padding: 8px 12px 8px 12px;
  border-bottom: 1px solid $color-listitem;
  display:flex;
  align-items: center;
  background-color:$color-bg;
  transition: margin-top 0.1s ease-out;
  @include mobile {
    padding: 4px 12px 4px 12px;
  }
}
#appLogo {
  position:absolute;
  top:0;
  left:0;
  z-index:10000;
}
#appLogoInner {
  position:absolute;
  top:-33px;
  left:-7px;

  span {
    font-size:74px;
    font-weight:900;
    color:$color-listitem;
  }
  span.q {
    margin-left:-6px;
  }
  span.p {
    margin-left:-6px;
  }
  span.w {
    margin-left:-2px;
  }
  span.v {
    margin-left:-4px;
  }

  @include mobile {
    top:-26px;
    left:-5px;
    span {
      font-size: 60px;
      margin-left:0 !important;
    }
  }
}
#appTitle {
  font-size:18px;
  color:#888;
  flex: 1;
  visibility: hidden;
  @include mobile {
    font-size:16px;
  }
}

#settingsButton {
  &:before {
    background-image: url('./../img/icons/settings_white_24dp.svg');
    opacity:0.66;
  }
  background-color: transparent;
  &:hover {
    background-color: $color-button-over;
  }
}
.settingsView #settingsButton,
.hqpSettingsView #settingsButton{
  visibility: hidden;
}

#hqpSettingsButton {
  &:before {
    background-image: url('./../img/icons/settings_applications_white_24dp.svg');
    opacity:0.66;
  }
  background-color: transparent;
  &:hover {
    background-color: $color-button-over;
  }
}
.settingsView #hqpSettingsButton,
.hqpSettingsView #hqpSettingsButton{
  visibility: hidden;
}
// ---

// Allows us to know current breakpoint by inspecting element's width
#breakpointIndicator {
  position:absolute;
  visibility: hidden;
  height:0;
  width: 1px;
  @include tablet {
    width: 2px;
  }
  @include mobile {
    width: 3px;
  }
}

#debug {
  display:none;
  position:absolute;
  z-index:100000;
  width:400px;
  height:100px;
  top:10px;
  left:10px;
  overflow-y:auto;
  color:red;
  font-size:16px;
  font-weight:bold;
  background:rgba(255,255,255, 0.2);
}
