#topBar {
  position:absolute;
  display:flex;

  width:100%;
  height: $top-bar-height;
  min-width: $site-min-width;
  top:0;
  left:0;

  align-items: center;
  flex: 0 0 auto;

  padding: $space-unit $space-unit $space-unit $space-unit;
  border-bottom: 2px solid var(--col-listitem); // does this subtract from the height?
  background-color:var(--col-bg);
  transition: margin-top 100ms ease-out;
  &.isAnimating {
    transition: margin-top $app-standard-duration ease-out;
  }
}

#appLogo {
  position:absolute;
  top:0;
  left:0;
  z-index:9998;
  transition: opacity $app-standard-duration ease-out;

  @include mobile {
    transform:scale(0.8); // lazy. looks better, actually; apply to main?
    top:5px;
    left:6px;
  }
}
#appLogoInner {
  position:absolute;
  top:-32px;
  left:-6px;

  span {
    font-size:72px;
    font-weight:900;
    color:var(--col-listitem);
  }
  span.q {
    margin-left:-6px;
  }
  span.p {
    margin-left:-6px;
  }
  span.w {
    margin-left:-3px;
  }
  span.v {
    margin-left:-4px;
  }
}

#appTitle {
  visibility: hidden;
  color:var(--col-listitem-selected-over);
}
.lightTheme #appTitle {
  color:var(--col-listitem-selected);
}

#topBarButtons {
  margin-left:auto;
}
#hqpSettingsButton {
  &:before {
    background-image: url('./../img/icons/settings_applications_white_24dp.svg');
    opacity:0.66;
  }
  background-color: transparent;
  &:hover {
    background-color: var(--col-listitem-over);
  }
}
#settingsButton {
  &:before {
    background-image: url('./../img/icons/settings_white_24dp.svg');
    opacity:0.66;
  }
  background-color: transparent;
  &:hover {
    background-color: var(--col-listitem-over);
  }
}
.settingsView #settingsButton,
.hqpSettingsView #settingsButton{
  visibility: hidden;
}

.settingsView #hqpSettingsButton,
.hqpSettingsView #hqpSettingsButton{
  visibility: hidden;
}
