.trackItem {
  display:flex;
  align-items:center;
  background-color:var(--col-listitem-less);
  padding: 10px 12px 10px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor:pointer;
  &:hover {
    background-color:var(--col-listitem);
  }
  @include mobile {
    padding: 8px 8px 8px 8px;
  }

  .left {
    width:48px;
    text-align: center;
    color: var(--col-text-least);
    margin-right:16px;
    @include mobile {
      margin-right:10px;
    }
  }
  .main {
    flex:1;
    line-height:20px;
    min-width: 0; // allows children to properly ellipsize

    .trackText { }

    .caption {
      text-transform: uppercase;
      color: var(--col-text-least);
      font-size:$font-size-smallest;
    }

    .extra {
      margin-top: 4px;
      .extraLine {
        font-size: $font-size-smaller;
        line-height:18px;
        color: var(--col-text-least);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .nonLibraryInfo { // used for non-library tracks
      color:var(--col-text-less);
      font-size: $font-size-smaller;
      line-height: 19px;
      margin-bottom:4px;
    }
  }
  .right {
    height:$icon-button-side;
  }
}
.isTouch .trackItem {
  &:hover {
    background-color:var(--col-listitem-less);
  }
}

.trackItem.trackItemAlbumHeader {
  display:flex;
  padding-left:12px;
  padding-top:12px;
  cursor:default;
  &:hover {
    background-color:var(--col-listitem-less);
  }
  .albumLineButton {
    display:flex;
    align-items:center;
    margin-right:16px;
    cursor:pointer;
    &:hover {
      background-color: var(--col-listitem);
    }
    img {
      width:48px;
      height:48px;
      align-self:start;
    }
    .text {
      color:var(--col-text-less);
      font-size: $font-size-smaller;
      line-height: 19px;
      margin-left:16px;
      padding-bottom: 1px;
      padding-right:12px;
    }
  }
  .statsText {
    margin-left:auto;
    font-size: $font-size-smaller;
    line-height:18px;
    color:var(--col-text-least);
    text-align:right;
    align-self:start;
  }
}

// 'grouping' classes

$margin1: 0px;
$margin2: 16px;
$border-radius: 0px;
$border-radius-mobile:0px;

.trackItem.groupFirst {
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  margin-bottom:$margin1;
  border-top:1px solid var(--col-listitem);
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
  @include mobile {
    border-top-left-radius: $border-radius-mobile;
    border-top-right-radius: $border-radius-mobile;
  }
}
.trackItem.groupMiddle {
  margin-top:$margin1;
  margin-bottom:$margin1;
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
}
.trackItem.groupLast {
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  margin-top:$margin1;
  margin-bottom:$margin2;
  border-left:1px solid var(--col-listitem);
  border-right:1px solid var(--col-listitem);
  border-bottom:1px solid var(--col-listitem);
  @include mobile {
    border-bottom-left-radius: $border-radius-mobile;
    border-bottom-right-radius: $border-radius-mobile;
  }
}
.trackItem.groupSingle {
  margin-top:$margin2;
  margin-bottom:$margin2;
  border: 1px solid var(--col-listitem);
}

// overrides common to both search/track listing and history

.libraryTrackGroup,
#historyList {

  .trackItem.groupFirst {
    padding-bottom:6px;
  }
  .trackItem.groupMiddle {
    padding-top:4px;
    padding-bottom:4px;
  }
  .trackItem.groupLast {
    padding-top:4px;
  }

  .trackItem {
    cursor: auto;
    &:hover {
      background-color: var(--col-listitem-less);
    }
  }

  .trackItemAlbumHeader {
    .albumLineButton {
      .text {
        color: var(--col-text-less);
      }
    }
  }
}

.libraryTrackGroup {
  .trackItem {
    .left {
      visibility: hidden; // no index text
    }
    .main {
      .trackText {
        font-weight: bold;
      }
    }
  }
}

#historyList {
  .trackItem {
    .left {
      color: var(--col-text-less);
      font-style: italic;
    }
  }
}
