// Higher-level 'widget' definitions


// Subview header UI with title text and usually a close button on the right
.viewHeader {
  display:flex;
  height:$icon-button-side;
  align-items:center;
  position:relative;
  .title {
    font-size: 16px;
    font-weight: bold;
    line-height: $icon-button-side;
  }
  .headerCountText {
    margin-left:6px;
    font-size: $font-size-smaller;
    padding-top:4px;
    color:var(--col-text-least);
  }
}

.contextMenu {
  position:absolute; // gets positioned programmatically
  z-index:10001;
  visibility:hidden;
  top:0;
  background: var(--col-bg);
  border:1px solid var(--col-listitem);
  .contextItem {
    padding-left:16px;
    padding-right:16px;
    padding-top:8px;
    padding-bottom:8px;
    cursor:pointer;
    &:hover {
      background-color: var(--col-listitem);
    }
  }
}

.dropdown {
  height:36px;
  position:relative;
  width:150px; // must have hardcoded width; override this
  z-index:9999;
  display:none;
  border-top: 1px solid var(--col-listitem-over);
  border-left: 1px solid var(--col-listitem-over);
  border-right: 1px solid var(--col-listitem-over);

  .dropdownTitle {
    height: 36px;
    padding-left:12px;
    padding-right:12px;
    color:var(--col-text);
    font-size:13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height:36px;
    background-color:var(--col-bg);//color-listitem-selected;
  }
  .dropdownItems {
    position:absolute;
    z-index:10001;
    left:0;
    top:36px;
    width:100%;
    background:var(--col-bg); //color-listitem;
    border-left: 1px solid var(--col-listitem-over);
    border-right: 1px solid var(--col-listitem-over);
    border-bottom: 1px solid var(--col-listitem-over);

    .dropdownItem {
      $ht: 36px;
      line-height: $ht;
      padding:0 16px 4px 34px;
      cursor: pointer;
      white-space: nowrap;
      &:hover {
        background-color: var(--col-listitem-over);//over;
      }
      &.isSelected {
        cursor: default;
        &:hover {
          background-color:var(--col-listitem);
        }
        &:before {
          @include iconBefore;
          top:unset; // if 0, ends up at top of list, no idea
          left: 6px;
          width: 24px;
          height: $ht;
          background-image: url('./../img/icons/check_white_24dp.svg');
          background-position: left center;
        }
      }
    }
    .dropdownItem.isMulti {
      &.isSelected {
        cursor: pointer;
        &:hover {
          background-color:var(--col-listitem-over);
        }
      }
    }
  }
}

.checkbox {
  display:inline-block;
  width:$icon-button-side;
  height:$icon-button-side;
  border:2px solid var(--col-text-least);
  margin-right:6px;
  &:focus {
    border: 3px solid var(--col-text-least);
    outline-offset:1px;
  }
  cursor:pointer;

  &.isChecked {
    &:before {
      display:block;
      content: '';
      margin:2px;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      background-color: var(--col-text-least);
    }
  }

  .isDisabled {
    cursor:default;
  }
}

// modifies .checkbox
.checkboxSmaller {
  width: 30px;
  height: 30px;
}

// ---
// tab bar

.tabBar {
  display:flex;
}

.tabButton {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 36px;
  padding-top:5px;
  padding-left:12px;
  padding-right:12px;
  font-size:13px;
  font-weight: bold;
  text-transform: uppercase;

  color:var(--col-text-least);
  border-bottom: 1px solid var(--col-listitem-selected);
  border-left: 1px solid var(--col-listitem-bg);
  border-right: 1px solid var(--col-listitem-bg);
  border-top: 1px solid var(--col-listitem-bg);
  cursor:pointer;

  &:hover {
    color:var(--col-text-less);
  }

  // tricky multi-state thing
  &.isOn {
    border-bottom: 1px solid var(--col-bg);
    border-left: 1px solid var(--col-listitem-selected);
    border-right: 1px solid var(--col-listitem-selected);
    border-top: 1px solid var(--col-listitem-selected);
    pointer-events:none;
  }
  &.isSelected {
    color:var(--col-text);
  }

}
@include mobile {
  .tabButton {
    padding-left:8px;
    padding-right:8px;
  }
}

.tabBarSpacer {
  flex: 1;
  border-bottom: 1px solid var(--col-listitem-selected);
}

// ---

.spinner {
  &:before {
    content: ' ';
    display: block;
    opacity:0.7;
    position: absolute;
    left: -12px;
    top:-12px;
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./../img/icons/hourglass_empty_white_24dp.svg');
    animation: spinner 2s infinite;
    filter:brightness(var(--icon-brightness));
  }
}

@keyframes spinner {
  0% { rotate:0deg }
  33% { rotate:120deg }
  66% { rotate:240deg; }
  100% { rotate:360deg; }
}

// track list item metadata section
// contains view-count text and favorite button
.trackItemMeta {
  display:none;
  height:$icon-button-side; // w/o this, is too tall, not sure why
  margin-left:12px;
  margin-right:6px;
  align-items:center;

  .numViews {
    font-size: $font-size-smaller;
    color:var(--col-text-least);
    margin-right:6px;
  }
}
.isMetaEnabled .trackItemMeta {
  display:flex;
}