@charset "UTF-8";
/* noto-sans-tc-regular - latin */
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/noto-sans-tc-v11-latin-regular.woff2") format("woff2"), url("../fonts/noto-sans-tc-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-700 - latin */
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/noto-sans-tc-v11-latin-700.woff2") format("woff2"), url("../fonts/noto-sans-tc-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-tc-900 - latin */
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/noto-sans-tc-v11-latin-900.woff2") format("woff2"), url("../fonts/noto-sans-tc-v11-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-sc-300 - latin */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/noto-serif-sc-v8-latin-300.woff2") format("woff2"), url("../fonts/noto-serif-sc-v8-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-serif-sc-regular - latin */
@font-face {
  font-family: "Noto Serif SC";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/noto-serif-sc-v8-latin-regular.woff2") format("woff2"), url("../fonts/noto-serif-sc-v8-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
  --col-bg: #181818;
  --col-listitem-less: #1c1c1c;
  --col-listitem: #282828;
  --col-listitem-over: #323232;
  --col-listitem-selected: #383838;
  --col-listitem-selected-over: #424242;
  --col-text-least: #666666;
  --col-text-less: #999999;
  --col-text: #cccccc;
  --col-accent: #ff2200;
  --icon-brightness: 100%;
}
:root.lightTheme {
  --col-bg: #f0f0f0;
  --col-listitem-less: #e9e9e9;
  --col-listitem: #dcdcdc;
  --col-listitem-over: #d0d0d0;
  --col-listitem-selected: #c0c0c0;
  --col-listitem-selected-over: #b0b0b0;
  --col-text: #202020;
  --col-text-less: #505050;
  --col-text-least: #808080;
  --col-accent: #ff2200;
  --icon-brightness: 0%;
}

.icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
}
.icon:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  color: var(--col-text);
  scrollbar-color: var(--col-listitem-selected-over) var(--col-listitem-less);
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  user-drag: none;
  -webkit-user-drag: none;
}
* :focus {
  outline: none;
}
@media (max-width: 480px) {
  * {
    font-size: 14px;
  }
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--col-bg);
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li:before {
  content: "​";
  position: absolute;
}

input,
html input[disabled],
input::-moz-focus-inner {
  all: unset;
}

.noTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.colorAccent {
  color: var(--col-accent);
}

.colorTextLess {
  color: var(--col-text-less);
}

.fontSizeSmaller {
  font-size: 14px;
}
@media (max-width: 480px) {
  .fontSizeSmaller {
    font-size: 12px;
  }
}

.subview {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding: 16px;
  background-color: var(--col-bg);
  transition: opacity 400ms cubic-bezier(0, 0.5, 0.3, 1);
}
.subview:focus {
  outline: none;
}
@media (max-width: 480px) {
  .subview {
    padding: 12px;
  }
}

.viewTitle {
  font-size: 16px;
  font-weight: bold;
  line-height: 36px;
}

.lowKeyCaption {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--col-text-least);
}

@keyframes thumbPulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.iconButton {
  display: inline-block;
  width: 36px;
  height: 36px;
  cursor: pointer;
  background-color: var(--col-listitem);
  position: relative;
}
.iconButton:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
}
.iconButton:after {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--col-listitem-less);
  transition: opacity 400ms ease-out;
}
.iconButton:hover {
  background-color: var(--col-listitem-over);
}

.iconButton.isDisabled {
  pointer-events: none;
}
.iconButton.isDisabled:before {
  opacity: 0.5;
}

.toggleButton {
  background-color: transparent;
}
.toggleButton:before {
  opacity: 0.25;
}
.toggleButton:hover {
  background-color: var(--col-listitem-over);
}
.toggleButton:hover:before {
  opacity: 0.7;
}
.toggleButton.isSelected {
  background-color: var(--col-listitem-selected);
}
.toggleButton.isSelected:before {
  opacity: 0.7;
}
.toggleButton.isSelected:hover {
  background-color: var(--col-listitem-selected-over);
}

.favoriteButton {
  background-color: transparent;
}
.favoriteButton:before {
  opacity: 0.25;
  background-image: url("./../img/icons/favorite_border_white_24dp.svg");
}
.favoriteButton:hover {
  background-color: transparent;
}
.favoriteButton:hover:before {
  opacity: 0.7;
}
.favoriteButton.isSelected {
  background-color: transparent;
}
.favoriteButton.isSelected:before {
  opacity: 0.7;
  background-image: url("./../img/icons/favorite_white_24dp.svg");
}
.favoriteButton.isSelected:hover {
  background-color: transparent;
}

.moreButton:before {
  background-image: url("./../img/icons/more_horiz_white_24dp.svg");
}

.closeButton {
  background-color: transparent;
}
.closeButton:before {
  background-image: url("./../img/icons/close_white_24dp.svg");
}

.expandIcon:before {
  background-image: url("./../img/icons/expand_more_white_24dp.svg");
}

.isExpanded .expandIcon:before {
  background-image: url("./../img/icons/expand_less_white_24dp.svg");
}

.textButton {
  display: inline-block;
  border-radius: 6px;
  vertical-align: top;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  background-color: var(--col-listitem);
  cursor: pointer;
}
.textButton:hover {
  background-color: var(--col-listitem-over);
}

.textButton.isDisabled {
  pointer-events: none;
  color: var(--col-text-least);
}

.buttonBlink:after {
  transition: background-color 0s linear;
  opacity: 1;
}

.contextMenu {
  position: absolute;
  z-index: 10001;
  visibility: hidden;
  top: 0;
  background: var(--col-bg);
  border: 1px solid var(--col-listitem);
}
.contextMenu .contextItem {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.contextMenu .contextItem:hover {
  background-color: var(--col-listitem);
}

.dropdown {
  height: 36px;
  position: relative;
  width: 150px;
  z-index: 9999;
  display: none;
  color: red;
  border: 1px solid var(--col-listitem);
}
.dropdown .dropdownTitle {
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  color: var(--col-text);
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 36px;
  background-color: var(--col-bg);
}
.dropdown .dropdownItems {
  position: absolute;
  z-index: 10001;
  left: 0;
  top: 36px;
  width: 100%;
  background: var(--col-bg);
}
.dropdown .dropdownItems .dropdownItem {
  line-height: 36px;
  padding: 0 16px 0 34px;
  cursor: pointer;
  white-space: nowrap;
}
.dropdown .dropdownItems .dropdownItem:hover {
  background-color: var(--col-listitem-over);
}
.dropdown .dropdownItems .dropdownItem.isSelected {
  cursor: default;
}
.dropdown .dropdownItems .dropdownItem.isSelected:hover {
  background-color: var(--col-listitem);
}
.dropdown .dropdownItems .dropdownItem.isSelected:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
  top: unset;
  left: 6px;
  width: 24px;
  height: 36px;
  background-image: url("./../img/icons/check_white_24dp.svg");
  background-position: left center;
}
.dropdown .dropdownItems .dropdownItem.isMulti.isSelected {
  cursor: pointer;
}
.dropdown .dropdownItems .dropdownItem.isMulti.isSelected:hover {
  background-color: var(--col-listitem-over);
}

.checkbox {
  display: inline-block;
  width: 36px;
  height: 36px;
  border: 2px solid var(--col-text-least);
  margin-right: 6px;
  cursor: pointer;
}
.checkbox:focus {
  border: 3px solid var(--col-text-least);
  outline-offset: 1px;
}
.checkbox.isChecked:before {
  display: block;
  content: "";
  margin: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--col-text-least);
}
.checkbox .isDisabled {
  cursor: default;
}

.checkboxSmaller {
  width: 30px;
  height: 30px;
}

.spinner:before {
  content: " ";
  display: block;
  opacity: 0.7;
  position: absolute;
  left: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("./../img/icons/hourglass_empty_white_24dp.svg");
  animation: spinner 2s infinite;
}

@keyframes spinner {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: 120deg;
  }
  66% {
    rotate: 240deg;
  }
  100% {
    rotate: 360deg;
  }
}
html {
  visibility: hidden;
}

#page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#mainArea {
  position: relative;
  background-color: var(--col-bg);
  flex: 1;
  overflow: hidden;
}

#topBar {
  position: relative;
  flex: 0 0 auto;
  padding: 8px 12px 8px 12px;
  border-bottom: 2px solid var(--col-listitem);
  display: flex;
  align-items: center;
  background-color: var(--col-bg);
  transition: margin-top 100ms ease-out;
}
#topBar.isAnimating {
  transition: margin-top 400ms ease-out;
}
@media (max-width: 480px) {
  #topBar {
    padding: 4px 12px 4px 12px;
  }
}

#appLogo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
}

#appLogoInner {
  position: absolute;
  top: -33px;
  left: -7px;
}
#appLogoInner span {
  font-size: 74px;
  font-weight: 900;
  color: var(--col-listitem);
}
#appLogoInner span.q {
  margin-left: -6px;
}
#appLogoInner span.p {
  margin-left: -6px;
}
#appLogoInner span.w {
  margin-left: -3px;
}
#appLogoInner span.v {
  margin-left: -4px;
}
@media (max-width: 480px) {
  #appLogoInner {
    top: -28px;
    left: -5px;
  }
  #appLogoInner span {
    font-size: 61px;
  }
  #appLogoInner span.q {
    margin-left: -5px;
  }
  #appLogoInner span.p {
    margin-left: -5px;
  }
  #appLogoInner span.w {
    margin-left: -1px;
  }
  #appLogoInner span.v {
    margin-left: -3px;
  }
}

#appTitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--col-text-least);
  flex: 1;
  visibility: hidden;
}
@media (max-width: 480px) {
  #appTitle {
    font-size: 16px;
  }
}

.lightTheme #appTitle {
  color: var(--col-listitem-selected);
}

#settingsButton {
  background-color: transparent;
}
#settingsButton:before {
  background-image: url("./../img/icons/settings_white_24dp.svg");
  opacity: 0.66;
}
#settingsButton:hover {
  background-color: var(--col-listitem-over);
}

.settingsView #settingsButton,
.hqpSettingsView #settingsButton {
  visibility: hidden;
}

#hqpSettingsButton {
  background-color: transparent;
}
#hqpSettingsButton:before {
  background-image: url("./../img/icons/settings_applications_white_24dp.svg");
  opacity: 0.66;
}
#hqpSettingsButton:hover {
  background-color: var(--col-listitem-over);
}

.settingsView #hqpSettingsButton,
.hqpSettingsView #hqpSettingsButton {
  visibility: hidden;
}

#breakpointIndicator {
  position: absolute;
  visibility: hidden;
  height: 0;
  width: 1px;
}
@media (max-width: 768px) {
  #breakpointIndicator {
    width: 2px;
  }
}
@media (max-width: 480px) {
  #breakpointIndicator {
    width: 3px;
  }
}

#debug {
  display: none;
  position: absolute;
  z-index: 100000;
  width: 400px;
  height: 100px;
  top: 10px;
  left: 10px;
  overflow-y: auto;
  color: red;
  font-size: 16px;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
}

#fullOverlayScreen {
  display: none;
  opacity: 0;
  z-index: 9998;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  transition: opacity 400ms ease-in;
}

#fullOverlayImage {
  display: none;
  z-index: 9999;
  position: absolute;
  cursor: pointer;
  transition: left 400ms cubic-bezier(0, 0.5, 0.3, 1), top 400ms cubic-bezier(0, 0.5, 0.3, 1), width 400ms cubic-bezier(0, 0.5, 0.3, 1), height 400ms cubic-bezier(0, 0.5, 0.3, 1);
}

#generalDialogOuter {
  visibility: hidden;
  position: absolute;
  z-index: 10002;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#generalDialogOuter #generalDialog {
  position: absolute;
  width: 700px;
  left: 50%;
  margin-left: -350px;
  top: 35px;
  background-color: var(--col-bg);
  border: 2px solid var(--col-listitem);
}
#generalDialogOuter #generalDialog #generalDialogTitle {
  color: var(--col-accent);
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  border-bottom: 2px solid var(--col-listitem);
  background-color: var(--col-listitem-less);
}
#generalDialogOuter #generalDialog #generalDialogMessage {
  padding: 16px 16px 0 16px;
  max-height: 400px;
  margin-bottom: 16px;
}
#generalDialogOuter #generalDialog #generalDialogBottom {
  text-align: center;
  padding-bottom: 16px;
}
#generalDialogOuter #generalDialog #generalDialogBottom #generalDialogButton {
  display: inline-block;
  min-width: 80px;
}

#generalDialogOuter.isFatal {
  background-color: rgba(0, 0, 0, 0.5);
}
#generalDialogOuter.isFatal #generalDialog #generalDialogTitle {
  color: var(--col-accent);
}

@media (max-width: 768px) {
  #generalDialogOuter #generalDialog {
    width: 450px;
    margin-left: -225px;
  }
}
@media (max-width: 480px) {
  #generalDialogOuter #dialog {
    top: 35px;
    width: 300px;
    margin-left: -150px;
  }
}
#playbarView {
  visibility: hidden;
  position: relative;
  flex: 0 0 auto;
  height: auto;
  padding: 12px 0 12px 0;
  background-color: var(--col-bg);
  z-index: 10001;
}

#playingText {
  display: inline-block;
  margin-left: 12px;
  margin-top: 1px;
  height: 24px;
  margin-bottom: 11px;
  max-width: calc(100% - 124px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#playingText:hover {
  opacity: 0.8;
}
@media (max-width: 480px) {
  #playingText {
    margin-top: 1px;
    height: 20px;
    margin-bottom: 11px;
    max-width: calc(100% - 108px);
  }
}

#playbarButtons {
  display: flex;
  align-items: center;
  margin-left: 12px;
  margin-right: 76px;
}
@media (max-width: 480px) {
  #playbarButtons {
    margin-right: 60px;
  }
}

#stopButton {
  margin-right: 16px;
}
#stopButton:before {
  background-image: url("./../img/icons/stop_white_24dp.svg");
}
@media (max-width: 768px) {
  #stopButton {
    margin-right: 8px;
  }
}

.isStopped #stopButton {
  pointer-events: none;
}
.isStopped #stopButton:before {
  opacity: 0.5;
}

#playButton {
  margin-right: 8px;
  width: 72px;
}
#playButton:before {
  background-image: url("./../img/icons/play_arrow_white_24dp.svg");
}
@media (max-width: 480px) {
  #playButton {
    width: 36px;
  }
}

.isPlaying #playButton:before {
  background-image: url("./../img/icons/pause_white_24dp.svg");
}

.isPaused #playButton:before {
  background-image: url("./../img/icons/play_arrow_white_24dp.svg");
}

.isPlaylistEmpty #playButton {
  pointer-events: none;
}
.isPlaylistEmpty #playButton:before {
  background-image: url("./../img/icons/play_arrow_white_24dp.svg");
}
.isPlaylistEmpty #playButton:before {
  opacity: 0.5;
}

#previousButton {
  margin-right: 8px;
}
#previousButton:before {
  background-image: url("./../img/icons/skip_previous_white_24dp.svg");
}

.isStopped #previousButton {
  pointer-events: none;
}
.isStopped #previousButton:before {
  opacity: 0.5;
}

#nextButton {
  margin-right: 16px;
}
#nextButton:before {
  background-image: url("./../img/icons/skip_next_white_24dp.svg");
}
@media (max-width: 480px) {
  #nextButton {
    margin-right: 12px;
  }
}

.isStopped #nextButton {
  pointer-events: none;
}
.isStopped #nextButton:before {
  opacity: 0.5;
}

#seekBackwardButton {
  margin-right: 8px;
}
#seekBackwardButton:before {
  background-image: url("./../img/icons/replay_10_white_24dp.svg");
}

.isStopped #seekBackwardButton {
  pointer-events: none;
}
.isStopped #seekBackwardButton:before {
  opacity: 0.5;
}

#seekForwardButton {
  margin-right: 16px;
}
#seekForwardButton:before {
  background-image: url("./../img/icons/forward_10_white_24dp.svg");
}

.isStopped #seekForwardButton {
  pointer-events: none;
}
.isStopped #seekForwardButton:before {
  opacity: 0.5;
}

@media (max-width: 639px) {
  #seekBackwardButton, #seekForwardButton {
    display: none;
  }
}
#playingTrackArea {
  flex: 1;
  display: flex;
  align-items: center;
}

#playingTrackCurrentTime {
  font-size: 12px;
}
@media (max-width: 480px) {
  #playingTrackCurrentTime {
    display: none;
  }
}

#playingTrackLength {
  font-size: 12px;
}
@media (max-width: 480px) {
  #playingTrackLength {
    display: none;
  }
}

.isStopped #playingTrackCurrentTime,
.isStopped #playingTrackLength {
  color: var(--col-text-less);
}

#volumeToggleButton {
  position: absolute;
  right: 72px;
  top: 12px;
}
#volumeToggleButton.isSelected {
  background-color: var(--col-listitem);
}
#volumeToggleButton:before {
  background-image: url("./../img/icons/volume_up_white_24dp.svg");
  background-position: 8px center;
}
@media (max-width: 480px) {
  #volumeToggleButton {
    right: 60px;
  }
}

#volumePanel {
  visibility: hidden;
  position: absolute;
  width: 68px;
  right: 54px;
  bottom: 100%;
  overflow-y: hidden;
}
@media (max-width: 480px) {
  #volumePanel {
    right: 44px;
  }
}

#volumePanelInner {
  position: relative;
  width: 68px;
  display: flex;
  flex-direction: column;
  background-color: var(--col-listitem-less);
  padding: 8px 8px 0 8px;
  transition: top 166ms ease-out;
}

#volumeText {
  line-height: 36px;
  width: 52px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--col-listitem);
}

.volumePanelButton {
  border-radius: 0;
  width: 52px;
  text-align: center;
  font-weight: normal;
}

.volumePanelButtonSpacer {
  width: 52px;
  height: 8px;
  background: var(--col-listitem);
}

#playProgressView {
  position: relative;
  flex: 1;
  height: 20px;
  margin-left: 12px;
  margin-right: 12px;
  background-color: var(--col-listitem);
}
@media (max-width: 480px) {
  #playProgressView {
    margin-left: 0;
    margin-right: 0;
  }
}

.isStopped #playProgressView,
.isBusy #playProgressView {
  pointer-events: none;
}

#playProgressInner {
  position: absolute;
  width: calc(100% - 20px );
  height: 100%;
  left: 10px;
}

#playProgressThumb {
  position: absolute;
  width: 20px;
  height: 100%;
  margin-left: -10px;
  cursor: pointer;
  background-color: var(--col-accent);
  transition: left 0s linear;
}
#playProgressThumb.isAnimating {
  transition: left 1s linear;
}
@media (max-width: 480px) {
  #playProgressThumb {
    transition: none;
  }
  #playProgressThumb.isAnimating {
    transition: none;
  }
}

.isStopped #playProgressThumb {
  pointer-events: none;
  opacity: 0;
}

.isPaused #playProgressThumb {
  opacity: 0.5;
}

.isBusy #playProgressThumb {
  animation: thumbPulse 1.33s infinite;
  pointer-events: none;
  transition: background-color 0.15s linear;
}

#playbarStroke {
  position: absolute;
  width: 1px;
  height: 84px;
  right: 60px;
  top: 6px;
  background-color: var(--col-listitem);
}
@media (max-width: 480px) {
  #playbarStroke {
    display: none;
  }
}

#showPlaylistButton {
  position: absolute;
  top: 12px;
  right: 12px;
  height: calc(100% - 24px);
}
#showPlaylistButton:before {
  background-image: url("./../img/icons/queue_music_white_24dp.svg");
  background-position: center 6px;
}

.playlistView #showPlaylistButton {
  background-color: var(--col-listitem-selected);
}

#playlistNumberAt {
  position: absolute;
  top: 33px;
  width: 100%;
  text-align: center;
  font-size: 11px;
}

#playlistNumberStroke {
  position: absolute;
  top: 51px;
  left: 11px;
  height: 1px;
  width: 14px;
  background-color: var(--col-text);
}

#playlistNumberTotal {
  position: absolute;
  top: 53px;
  width: 100%;
  text-align: center;
  font-size: 11px;
}

#bottomScrim {
  position: absolute;
  width: 100%;
  height: 28px;
  top: -28px;
  pointer-events: none;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 480px) {
  #bottomScrim {
    display: none;
  }
}

.lightTheme #bottomScrim {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 100%);
}

#bottomStroke {
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0px;
  background-color: var(--col-listitem);
}

#toast {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 36px;
  top: -36px;
  overflow: hidden;
}
#toast #toastInner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 36px;
  background: var(--col-bg);
  border-top: 2px solid var(--col-listitem);
  padding: 0 16px 0 16px;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: top 400ms cubic-bezier(0, 0.5, 0.3, 1);
}
@media (max-width: 480px) {
  #toast #toastInner {
    font-size: 12px;
  }
}

#snack {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 55px;
  top: -55px;
  overflow: hidden;
}
#snack #snackInner {
  position: absolute;
  left: 0;
  width: 100%;
  height: 55px;
  background: #282828;
  border-top: 2px solid #444;
  line-height: 22px;
  padding: 4px 16px 0 16px;
  transition: top 400ms cubic-bezier(0, 0.5, 0.3, 1);
}
#snack #snackInner #snackIcon {
  position: absolute;
  top: 8px;
  left: 14px;
  background-color: transparent;
  cursor: default;
}
#snack #snackInner #snackIcon:before {
  background-image: url("./../img/icons/error_outline_white_24dp.svg");
}
#snack #snackInner #snackClose {
  position: absolute;
  top: 10px;
  right: 12px;
}
#snack #snackInner #snackLine1 {
  margin-left: 44px;
  margin-right: 38px;
  color: var(--col-accent);
  font-weight: bold;
}
#snack #snackInner #snackLine2 {
  margin-left: 44px;
  margin-right: 38px;
}

.playHisNonItem {
  padding-top: 16px;
  color: var(--col-text-less);
}

.playHisItem {
  display: flex;
  align-items: center;
  background-color: var(--col-listitem-less);
  padding: 10px 12px 10px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.playHisItem:hover {
  background-color: var(--col-listitem);
}
@media (max-width: 480px) {
  .playHisItem {
    padding: 8px 8px 8px 8px;
  }
}
.playHisItem .left {
  margin-right: 16px;
}
@media (max-width: 480px) {
  .playHisItem .left {
    margin-right: 10px;
  }
}
.playHisItem .main {
  flex: 1;
}
.playHisItem .right {
  height: 36px;
}

.isTouch .playHisItem:hover {
  background-color: var(--col-listitem-less);
}

.playHisItem.groupFirst {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 0px;
  border-top: 1px solid var(--col-listitem);
  border-left: 1px solid var(--col-listitem);
  border-right: 1px solid var(--col-listitem);
}
@media (max-width: 480px) {
  .playHisItem.groupFirst {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
}

.playHisItem.groupMiddle {
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px solid var(--col-listitem);
  border-right: 1px solid var(--col-listitem);
}

.playHisItem.groupLast {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: 0px;
  margin-bottom: 16px;
  border-left: 1px solid var(--col-listitem);
  border-right: 1px solid var(--col-listitem);
  border-bottom: 1px solid var(--col-listitem);
}
@media (max-width: 480px) {
  .playHisItem.groupLast {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}

.playHisItem.single {
  margin-bottom: 16px;
  border: 1px solid var(--col-listitem);
}

#playlistView {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: top 400ms cubic-bezier(0, 0.5, 0.3, 1);
}
#playlistView.animIn {
  border-top: 1px solid var(--col-listitem);
}

#playlistMainView {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 400ms ease-in-out;
}

#playlistHeader {
  margin-bottom: 8px;
}

#playlistRepeatButton {
  margin-left: auto;
  margin-right: 8px;
  position: relative;
  padding-left: 42px;
  background-color: transparent;
  text-transform: none;
  font-weight: normal;
}
#playlistRepeatButton:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
  left: 4px;
  width: 36px;
  background-image: url("./../img/icons/repeat_white_24dp.svg");
}
#playlistRepeatButton:hover {
  background-color: var(--col-listitem-over);
}
#playlistRepeatButton.isAll:before {
  background-image: url("./../img/icons/repeat_on_white_24dp.svg");
}
#playlistRepeatButton.isOne:before {
  background-image: url("./../img/icons/repeat_one_on_white_24dp.svg");
}

.playlistButtons {
  margin-top: 12px;
  margin-bottom: 0;
  display: flex;
}

#playlistClearButton {
  background-color: transparent;
  color: var(--col-text-less);
}
#playlistClearButton:hover {
  background-color: var(--col-listitem);
}

#playlistLoadButton,
#playlistSaveButton,
#playlistHistoryButton {
  margin-left: 8px;
  background-color: transparent;
  color: var(--col-text-less);
}
#playlistLoadButton:hover,
#playlistSaveButton:hover,
#playlistHistoryButton:hover {
  background-color: var(--col-listitem);
}
#playlistLoadButton.isDisabled,
#playlistSaveButton.isDisabled,
#playlistHistoryButton.isDisabled {
  color: var(--col-text-least);
}

#playlistList {
  margin-top: 16px;
}

#playlistSaver {
  position: relative;
  transition: height 400ms cubic-bezier(0, 0.5, 0.3, 1);
  overflow: hidden;
}
#playlistSaver .inner {
  position: relative;
  padding: 16px;
  background-color: var(--col-listitem-less);
  border: 1px solid var(--col-listitem-selected-over);
}
#playlistSaver label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 16px;
}
#playlistSaver .inputLine {
  display: flex;
}

#playlistSaveInput {
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--col-listitem);
  background-color: var(--col-text);
  color: var(--col-bg);
  flex: 1 1;
  width: 100%;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -o-user-select: auto;
}

.lightTheme #playlistSaveInput {
  border: 1px solid var(--col-listitem);
  background-color: var(--col-bg);
  color: var(--col-text);
}

#playlistSaveOkayButton {
  margin-left: 12px;
}

#playlistSaveCloseButton {
  position: absolute;
  right: 6px;
  top: 6px;
}

.playlistItem {
  position: relative;
}
.playlistItem:before {
  width: 0;
  background: var(--col-text-less);
  content: " ";
  position: absolute;
  left: 0;
  height: 100%;
  opacity: 1;
}
.playlistItem.selected:before {
  width: 4px;
}
.playlistItem .left {
  width: 48px;
  text-align: center;
  color: var(--col-text-least);
}
.playlistItem .right {
  margin-left: 6px;
}
.playlistItem .duration {
  font-size: 14px;
  color: var(--col-text-least);
}

.isPaused .playlistItem.selected:before {
  opacity: 0.7;
}

.isBusy .playlistItem.selected:before {
  animation: thumbPulse 1.33s infinite;
}

.playlistItemMeta {
  height: 36px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.playlistItemViews {
  font-size: 14px;
  color: var(--col-text-least);
  margin-right: 6px;
}

.playlistAlbumLine {
  display: flex;
  padding-left: 12px;
  padding-top: 12px;
  cursor: default;
}
.playlistAlbumLine:hover {
  background-color: var(--col-listitem-less);
}
.playlistAlbumLine .playlistAlbumButton {
  display: flex;
  align-items: center;
  margin-right: 16px;
  cursor: pointer;
}
.playlistAlbumLine .playlistAlbumButton:hover {
  background-color: var(--col-listitem);
}
.playlistAlbumLine .playlistAlbumButton img {
  width: 48px;
  height: 48px;
  align-self: start;
}
.playlistAlbumLine .playlistAlbumButton .text {
  margin-left: 16px;
  padding-right: 12px;
}
.playlistAlbumLine .statsText {
  margin-left: auto;
  font-size: 14px;
  line-height: 18px;
  color: var(--col-text-least);
  text-align: right;
  align-self: start;
}

#historyView {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 400ms ease-in-out;
}

#historyHeader {
  margin-bottom: 8px;
}

.historyItem {
  cursor: default;
}
.historyItem:hover {
  background-color: var(--col-listitem-less);
}
.historyItem .left {
  min-width: 18px;
  text-align: right;
  color: var(--col-text-least);
}
.historyItem .right {
  margin-left: 16px;
}

.historyItem .moreButton.isDisabled {
  opacity: 0.4;
}

#historyList {
  margin-top: 24px;
}

.historyItemAgo {
  color: var(--col-text-less);
  font-size: 14px;
}

#trackListItemContextAlbum {
  border-top: 1px solid var(--col-listitem);
}

#loadPlaylistView {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  transition: left 400ms ease-in-out;
}

#loadHeader {
  margin-bottom: 8px;
}

.loadListCustomSubheader {
  margin-top: 18px;
  margin-bottom: 12px;
}

.loadListHqpSubheader {
  margin-top: 22px;
  margin-bottom: 12px;
}

#loadCustomList,
#loadHqpList {
  margin-top: 18px;
}

.loadItem {
  display: flex;
  position: relative;
  margin-bottom: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  padding-left: 44px;
}
.loadItem:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
  background-position: 8px center;
  background-image: url("./../img/icons/featured_play_list_white_24dp.svg");
}
.loadItem .numTracks {
  display: inline-block;
  margin-left: 6px;
  font-size: 14px;
  color: var(--col-text-less);
  line-height: 36px;
  padding-top: 2px;
}
.loadItem .moreButton {
  margin-left: auto;
}

.loadNonItem {
  cursor: default;
  color: var(--col-text-less);
  background-color: var(--col-bg);
}
.loadNonItem:hover {
  background-color: var(--col-bg);
}

.loadFyiItem {
  font-size: 14px;
  color: var(--col-text-less);
}
.loadFyiItem:before {
  background-image: url("./../img/icons/info_white_24dp.svg");
}

#loadContextAlbum {
  border-top: 1px solid var(--col-listitem);
}

#libraryView {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
  z-index: 100;
}

#libraryHeaderView {
  display: flex;
  margin-left: 16px;
  margin-right: 16px;
  height: 36px;
  align-items: center;
}
@media (max-width: 480px) {
  #libraryHeaderView {
    margin-left: 12px;
    margin-right: 12px;
  }
}

#libraryNumbers {
  margin-left: 8px;
  font-size: 14px;
  padding-top: 3px;
  color: var(--col-text-least);
}

#librarySpinner {
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  transition: opacity 1s linear 1s;
}

#libraryAlbumsView {
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 1800px;
}
@media (max-width: 480px) {
  #libraryAlbumsView {
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

#librarySearchView {
  margin-left: auto;
  margin-right: auto;
  max-width: 1800px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 16px;
}
@media (max-width: 480px) {
  #librarySearchView {
    margin-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

.libraryGroupLabel {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 6px;
  margin-right: 6px;
  padding-left: 28px;
  padding-right: 12px;
  height: 36px;
  border-top: 1px solid var(--col-listitem);
  margin-bottom: 8px;
  cursor: pointer;
}
.libraryGroupLabel:before {
  content: " ";
  display: block;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
  filter: brightness(var(--icon-brightness));
  background-position: 6px center;
  background-image: url("./../img/icons/expand_less_white_24dp.svg");
}
.libraryGroupLabel.isCollapsed:before {
  background-image: url("./../img/icons/expand_more_white_24dp.svg");
}
.libraryGroupLabel .inner {
  margin-left: 6px;
  line-height: 36px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.libraryGroupLabel .folderIcon:before {
  background-image: url("./../img/icons/folder_white_24dp.svg");
}
.libraryGroupLabel .waveIcon:before {
  background-image: url("./../img/icons/sound-wave-1.svg");
}
.libraryGroupLabel .genreIcon:before {
  background-image: url("./../img/icons/category_white_24dp.svg");
}
.libraryGroupLabel .count {
  margin-left: 10px;
  padding-top: 4px;
  font-size: 14px;
  color: var(--col-text-least);
}

.libraryGroup {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
.libraryGroup.isCollapsed {
  display: none;
}

.libraryItem {
  position: relative;
  width: calc(16.666% - 16px);
  background: var(--col-listitem);
  cursor: pointer;
  padding: 12px 12px 11px 12px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 16px;
}
@media (max-width: 480px) {
  .libraryItem {
    padding: 9px;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 12px;
  }
}

#libraryNoneItem {
  width: 100%;
  cursor: default;
  background: unset;
}

@media (max-width: 1500px) {
  .libraryItem {
    width: calc(20% - 16px);
  }
}
@media (max-width: 1200px) {
  .libraryItem {
    width: calc(25% - 16px);
  }
}
@media (max-width: 900px) {
  .libraryItem {
    width: calc(33.333% - 16px);
  }
}
@media (max-width: 600px) {
  .libraryItem {
    width: calc(50% - 16px);
  }
}
@media (max-width: 480px) {
  .libraryItem {
    width: calc(50% - 12px);
  }
}
.libraryItemPicture {
  position: relative;
  width: 100%;
  margin-bottom: 6px;
}
.libraryItemPicture:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.libraryItemPicture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.libraryItemText1 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.libraryItemText2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: -4px;
}

.libraryItemBits {
  position: absolute;
  line-height: 20px;
  font-size: 12px;
  background-color: var(--col-listitem);
  padding-left: 6px;
  padding-right: 4px;
  padding-bottom: 2px;
  right: 12px;
  bottom: 68px;
  opacity: 0;
  transition: opacity 0.12s linear;
}
@media (max-width: 480px) {
  .libraryItemBits {
    right: 6px;
    bottom: 58px;
  }
}

.libraryItem:hover .libraryItemBits {
  opacity: 1;
}

.libraryItemFavorite {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: 19px;
  right: 10px;
  background-image: url("./../img/icons/favorite_white_24dp.svg");
  opacity: 0.35;
  filter: brightness(var(--icon-brightness));
}
@media (max-width: 480px) {
  .libraryItemFavorite {
    bottom: 15px;
  }
}

.libraryItem.isFavorite .libraryItemFavorite {
  display: block;
}
.libraryItem.isFavorite .libraryItemText1,
.libraryItem.isFavorite .libraryItemText2 {
  margin-right: 26px;
}

#libraryAlbumOptionsView {
  display: flex;
}

#libraryOptionsButtons {
  position: relative;
  height: 36px;
}
#libraryOptionsButtons:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--col-listitem);
  opacity: 0;
}
#libraryOptionsButtons.isSelected:before {
  transition: opacity 200ms cubic-bezier(0, 0.5, 0.3, 1);
  opacity: 1;
}

#libraryGroupButton:before {
  background-image: url("./../img/icons/category_white_24dp.svg");
}

#librarySortButton:before {
  background-image: url("./../img/icons/sort_white_24dp.svg");
}

#libraryBitrateButton:before {
  background-image: url("./../img/icons/filter_alt_white_24dp.svg");
}
#libraryBitrateButton.badge:after {
  content: " ";
  display: block;
  position: absolute;
  left: 22px;
  top: 4px;
  width: 5px;
  height: 5px;
  background-color: var(--col-text);
  border-radius: 5px;
  border: 2px solid var(--col-bg);
}

#libraryGroupDropdown,
#librarySortDropdown,
#libraryBitrateDropdown {
  width: 175px;
  margin-right: 8px;
  opacity: 0;
  transform: translate(38px);
  transition: transform 200ms cubic-bezier(0, 0.5, 0.3, 1), opacity 200ms linear;
}
#libraryGroupDropdown.animIn,
#librarySortDropdown.animIn,
#libraryBitrateDropdown.animIn {
  opacity: 1;
  transform: translate(0);
}

.librarySearchDivider {
  margin: 0 12px 0 12px;
  height: 36px;
  border-left: 2px solid var(--col-listitem);
}
@media (max-width: 480px) {
  .librarySearchDivider {
    margin: 0 6px 0 6px;
  }
}

#librarySearchButton:before {
  background-image: url("./../img/icons/search_white_24dp.svg");
}

#librarySearchOptionsView {
  position: relative;
  background-color: var(--col-listitem-less);
  border: 1px solid var(--col-listitem-selected-over);
  margin: 16px 16px 24px 16px;
  padding: 16px 16px 16px 16px;
}

#librarySearchCloseButton {
  position: absolute;
  right: 6px;
  top: 6px;
}

label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.inputLine {
  margin-top: 16px;
  display: flex;
}

#librarySearchInput {
  border: 1px solid var(--col-listitem);
  background-color: var(--col-text);
  color: var(--col-bg);
  height: 36px;
  line-height: 36px;
  padding-left: 8px;
  padding-right: 8px;
  flex: 1 1;
  width: 100%;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -o-user-select: auto;
}

.lightTheme #librarySearchInput {
  border: 1px solid var(--col-listitem);
  background-color: var(--col-bg);
  color: var(--col-text);
}

#librarySearchOkButton {
  margin-left: 12px;
}

.controlsLine {
  margin-top: 16px;
  display: flex;
  align-items: center;
}
.controlsLine #searchAlbumCheckbox {
  margin-left: 16px;
}
.controlsLine #searchTrackCheckbox {
  margin-left: 16px;
}

.isDisabled #libraryAlbumOptionsView {
  pointer-events: none;
}

.librarySearchTrackItem {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0px 12px 0 12px;
  margin-bottom: 24px;
  cursor: default;
}
@media (max-width: 480px) {
  .librarySearchTrackItem {
    width: 100%;
    padding: 0 8px 0 8px;
    margin-bottom: 18px;
  }
}
.librarySearchTrackItem .content {
  width: calc(100% - 48px);
}
.librarySearchTrackItem .song, .librarySearchTrackItem .artist, .librarySearchTrackItem .album {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.librarySearchTrackItem .song {
  font-weight: bold;
}
.librarySearchTrackItem .artist, .librarySearchTrackItem .album {
  color: var(--col-text-less);
}
.librarySearchTrackItem .moreButton {
  margin-left: auto;
}

#albumView {
  padding-bottom: 0;
  transition: top 400ms cubic-bezier(0, 0.5, 0.3, 1), opacity 400ms ease-out;
}
#albumView.animIn {
  border-top: 1px solid var(--col-listitem);
}

#albumCloseButton {
  position: absolute;
  right: 16px;
}
@media (max-width: 480px) {
  #albumCloseButton {
    right: 12px;
  }
}

#albumViewInfo {
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;
}

.albumViewPictureOuter {
  width: 50%;
  max-height: 75vh;
  background: var(--col-listitem-less);
  transition: opacity 400ms ease-in;
}
.albumViewPictureOuter #albumViewPicture {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

#albumViewTexts {
  width: 50%;
  padding-left: 32px;
  align-self: center;
  display: flex;
  align-items: center;
}
#albumViewTexts #albumViewTextsInner {
  height: auto;
  padding-bottom: 24px;
}
#albumViewTexts #albumViewTextsInner #albumViewTitle {
  font-family: "Noto Serif SC", sans-serif;
  font-size: 36px;
  line-height: 42px;
  margin-top: 16px;
}
#albumViewTexts #albumViewTextsInner #albumViewStats {
  margin-top: 16px;
}
#albumViewTexts #albumViewTextsInner #albumViewPath {
  margin-top: 16px;
  font-size: 12px;
  color: var(--col-text-least);
}
#albumViewTexts #albumViewTextsInner #albumViewButtons {
  margin-top: 24px;
  display: flex;
}

@media (max-width: 768px) {
  #albumViewInfo {
    flex-direction: column;
  }

  .albumViewPictureOuter {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  #albumViewTexts {
    width: auto;
    margin-top: 12px;
    padding-left: 0;
  }
  #albumViewTexts #albumViewTextsInner {
    text-align: center;
    margin-left: 8px;
    margin-right: 8px;
    padding-bottom: 0;
  }
  #albumViewTexts #albumViewTextsInner #albumViewTitle {
    margin-top: 12px;
    font-size: 28px;
    line-height: 33px;
  }
  #albumViewTexts #albumViewTextsInner #albumViewStats {
    margin-top: 12px;
  }
  #albumViewTexts #albumViewTextsInner #albumViewButtons {
    margin-top: 20px;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  #albumViewPicture {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  #albumViewTexts #albumViewTextsInner {
    margin-left: 0px;
    margin-right: 0px;
  }
  #albumViewTexts #albumViewTextsInner #albumViewTitle {
    margin-top: 10px;
    font-size: 20px;
    line-height: 23px;
  }
  #albumViewTexts #albumViewTextsInner #albumViewStats {
    margin-top: 12px;
  }
  #albumViewTexts #albumViewTextsInner #albumViewPath {
    display: none;
  }
  #albumViewTexts #albumViewTextsInner #albumViewButtons {
    margin-top: 18px;
  }
}
#albumQueueButton {
  margin-left: 12px;
}

#albumFavoriteButton {
  margin-left: 12px;
  border-radius: 6px;
}
#albumFavoriteButton:before {
  opacity: 0.25;
  background-image: url("./../img/icons/favorite_border_white_24dp.svg");
}
#albumFavoriteButton.isSelected:before {
  opacity: 0.7;
  background-image: url("./../img/icons/favorite_white_24dp.svg");
}

.albumItem {
  display: flex;
  position: relative;
  align-items: center;
  padding: 12px 8px 12px 16px;
  border-top: 1px solid var(--col-listitem);
}
.albumItem:before {
  position: absolute;
  width: 0;
  background: var(--col-text-less);
  content: " ";
  left: 0;
  height: 100%;
  opacity: 1;
}
.albumItem.selected:before {
  width: 4px;
}
@media (max-width: 480px) {
  .albumItem {
    left: 0;
    padding: 8px 8px 8px 12px;
  }
}

.isPaused .albumItem.selected:before {
  opacity: 0.7;
}

.isBusy .albumItem.selected:before {
  animation: thumbPulse 1.33s infinite;
}

#albumViewTexts * {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

#albumPlayNowButton,
#albumQueueButton,
#albumFavoriteButton {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.albumItemLeft {
  margin-right: 12px;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.albumItemMain {
  flex: 1;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
.albumItemMain .albumItemDuration {
  color: var(--col-text-less);
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.albumItemMeta {
  height: 36px;
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.albumItemViews {
  font-size: 14px;
  color: var(--col-text-least);
  margin-right: 4px;
}

.albumItemContext {
  height: 36px;
  margin-left: 6px;
}

#albumOverlayImage {
  display: none;
  position: absolute;
  z-index: 10000;
  transition: left 400ms cubic-bezier(0, 0.5, 0.3, 1), top 400ms cubic-bezier(0, 0.5, 0.3, 1), width 400ms ease-out, height 400ms ease-out;
}
#albumOverlayImage.animOut {
  transition: left 400ms cubic-bezier(0, 0.5, 0.3, 1), top 400ms cubic-bezier(0, 0.5, 0.3, 1), width 400ms ease-out, height 400ms ease-out;
}

#settingsView {
  padding-bottom: 24px;
}

.settingsSubheading {
  margin-bottom: 8px;
}

.settingsTheme {
  margin-top: 32px;
}
.settingsTheme .line {
  margin-top: 12px;
  margin-left: 44px;
  display: flex;
  align-item: center;
}
.settingsTheme .line span {
  padding-top: 2px;
  margin-left: 4px;
}
.settingsTheme .line #settingsThemeLightCheckbox {
  margin-left: 12px;
}

.settingsMeta {
  margin-top: 32px;
}
.settingsMeta .description {
  margin-left: 44px;
  font-size: 14px;
  margin-top: 6px;
}
.settingsMeta #metaDownload {
  margin-left: 44px;
  display: block;
  margin-top: 4px;
  font-size: 14px;
  color: var(--col-text-less);
}
.settingsMeta .line {
  display: flex;
  align-items: center;
  margin-left: 44px;
  margin-top: 12px;
}
.settingsMeta .line span {
  margin-left: 6px;
}

#settingsHotkeys table {
  border-spacing: 0 0;
}
#settingsHotkeys .c1 {
  text-align: right;
  width: 100px;
  padding-right: 10px;
  border-right: 2px solid var(--col-accent);
}
#settingsHotkeys .c2 {
  padding-left: 8px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: var(--col-listitem);
  border: none;
  height: 36px;
  padding: 0 8px 0 8px;
  margin: 0;
  line-height: 36px;
  cursor: pointer;
}

select * {
  font-family: "Noto Sans TC", serif;
  font-size: 16px;
}

.settingsSelectOuter {
  margin-bottom: 16px;
}
.settingsSelectOuter label {
  display: inline-block;
  text-align: right;
  width: 75px;
  margin-right: 8px;
}
@media (max-width: 480px) {
  .settingsSelectOuter label {
    width: 45px;
  }
}
.settingsSelectOuter select {
  width: 200px;
}
@media (max-width: 480px) {
  .settingsSelectOuter select {
    width: 150px;
  }
}
.settingsSelectOuter select[name=modeSelect] {
  font-weight: bold;
}
.settingsSelectOuter select[name=modeSelect] > option {
  font-weight: normal;
}

#hqpVersion {
  margin-left: 44px;
  font-size: 14px;
  color: var(--col-text-less);
}

.hqpSettingsInner {
  margin-left: 32px;
}
@media (max-width: 768px) {
  .hqpSettingsInner {
    margin-left: 16px;
  }
}
@media (max-width: 480px) {
  .hqpSettingsInner {
    margin-left: 0;
  }
}

#hqpFiltersView {
  margin-top: 18px;
}
@media (max-width: 480px) {
  #hqpFiltersView {
    margin-top: 12px;
  }
}

.presetsDivider {
  width: 100%;
  height: 1px;
  margin-top: 32px;
  margin-bottom: 24px;
  background-color: var(--col-listitem);
}

#hqpPresetsView .presetLabel {
  margin-bottom: 12px;
}
@media (max-width: 480px) {
  #hqpPresetsView .presetLabel {
    margin-top: 10px;
  }
}
#hqpPresetsView .savePresetLine {
  margin-left: 75px;
}
@media (max-width: 480px) {
  #hqpPresetsView .savePresetLine {
    margin-left: 0;
  }
}
#hqpPresetsView .loadPresets {
  margin-top: 20px;
}
#hqpPresetsView .loadPresetLine {
  margin-left: 75px;
  margin-bottom: 8px;
  display: flex;
}
@media (max-width: 480px) {
  #hqpPresetsView .loadPresetLine {
    margin-left: 0;
  }
}
#hqpPresetsView .loadPresetLine .loadPresetButton {
  flex: 0 0 36px;
}
#hqpPresetsView .loadPresetLine .loadPresetLabel {
  flex: 1;
  margin-left: 8px;
  font-size: 14px;
  line-height: 36px;
  color: var(--col-text-less);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}
@media (max-width: 480px) {
  #hqpPresetsView .loadPresetLine .loadPresetLabel {
    font-size: 12px;
  }
}

#outputBitrate {
  margin-left: 87px;
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 14px;
  color: var(--col-text-least);
}
@media (max-width: 480px) {
  #outputBitrate {
    margin-left: 53px;
    margin-top: 0px;
    margin-bottom: 16px;
  }
}

#outputBitrateValue {
  color: var(--col-text);
}

#hqpFiltersInfo {
  margin-left: 75px;
  margin-top: 20px;
  font-size: 14px;
  color: var(--col-text-least);
}
@media (max-width: 480px) {
  #hqpFiltersInfo {
    margin-left: 45px;
  }
}

.experimentalDivider {
  width: 100%;
  height: 1px;
  margin-top: 28px;
  margin-bottom: 4px;
  background-color: var(--col-listitem);
}

#settingsExperimentalLine {
  display: flex;
  padding-bottom: 6px;
  cursor: pointer;
}
#settingsExperimentalLine .expandIcon {
  background-color: transparent;
}
#settingsExperimentalLine .expandIcon:before {
  background-image: url("./../img/icons/expand_more_white_24dp.svg");
}
#settingsExperimentalLine .text {
  line-height: 36px;
  margin-left: 0px;
}

#settingsExperimentalLine.isExpanded .expandIcon:before {
  background-image: url("./../img/icons/expand_less_white_24dp.svg");
}

#hqpPresetRulesView {
  display: none;
  border-top: 1px solid var(--col-listitem);
  padding-top: 24px;
}

.hqpPresetRulesInner {
  margin-top: 16px;
  margin-left: 36px;
}
@media (max-width: 480px) {
  .hqpPresetRulesInner {
    margin-left: 0px;
  }
}

.ruleItem {
  margin-top: 12px;
  display: flex;
}
.ruleItem .ruleCheckbox {
  flex: 0 1 36px;
  margin-right: 16px;
}
.ruleItem .ruleItemInner {
  flex: 1;
}

.ruleLine {
  line-height: 36px;
  margin-bottom: 4px;
}

#ruleThreshold.isDisabled {
  pointer-events: none;
  opacity: 0.5;
}

/*# sourceMappingURL=main.css.map */
